<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a href="index.html"><i class="icon-grid"></i>
                <span class="menu-title" data-i18n="nav.dash.main">Dashboard</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="icon-note"></i><span class="menu-title" data-i18n="nav.templates.main">O Meu Portfólio</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="icon-basket"></i><span class="menu-title" data-i18n="nav.layouts.temp">Mercado</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="icon-graph"></i><span class="menu-title" data-i18n="nav.category.general">Recomendações</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="icon-envelope-letter"></i><span class="menu-title" data-i18n="nav.category.pages">Mensagens</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="icon-bubbles"></i><span class="menu-title" data-i18n="nav.category.ui">Chat</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="icon-camera"></i><span class="menu-title" data-i18n="nav.category.forms">Videoconferência</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="icon-notebook"></i><span class="menu-title" data-i18n="nav.category.tables">Contatos</span>
                </a>
            </li>
        </ul>
    </div>
</div>
