<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12 bg-red">
                    <div class="col-6 bg-blue">


                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">


                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Special</h4>
                                                    <div class="heading-elements">
                                                        <ul class="list-inline mb-0">                             
                                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-content" aria-expanded="true">
                                                    <div class="card-body">
                                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <span class="text-muted">ABCD</span>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>       

        </div>
    </div>
</div>