<!-- BEGIN Custom CSS-->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- END Custom CSS-->
<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
				<h3 class="content-header-title mb-0 d-inline-block">Pedir consultadoria</h3> 
			</div>
			<div class="content-header-right col-md-4 col-12">
				<div class="btn-group float-md-right">
					<button class="btn btn-info btn-round dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-settings mr-1"></i>Action
					</button>
					<div class="dropdown-menu arrow">
						<a class="dropdown-item" href="#"><i class="fa fa-calendar mr-1"></i> Calender</a>
						<a class="dropdown-item" href="#"><i class="fa fa-cart-plus mr-1"></i> Cart</a>
						<a class="dropdown-item" href="#"><i class="fa fa-life-ring mr-1"></i> Support</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#"><i class="fa fa-cog mr-1"></i> Settings</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content-body">
			<!-- // 1ª Linha -->
			<div class="row">
				<div class="col-lg-3">
					<div class="card-profile">
						<div class="card-profile-body text-center">
							<div class="card-body">
								<img src="dist/app-assets/images/portrait/medium/avatar-m-1.png" class="rounded-circle  height-150" alt="Card image">
							</div>
							<h3 class="user-name green">Andy Shane</h3>
							<span class="user-classe">Consultor</span>							
							<div class="action-buttons">
								<a href="/user-profile.html" class="btn action-button" role="button">VER PERFIL</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="card-profile">
						<div class="card-profile-body text-center">
							<div class="card-body">
								<img src="http://moltran.coderthemes.com/blue/assets/images/users/avatar-1.jpg" class="rounded-circle  height-150" alt="Card image">
							</div>
							<h3 class="user-name green">Mark Williams</h3>
							<span class="user-classe">Advogado</span>							
							<div class="action-buttons">
								<a href="user-profile.html" class="btn action-button" role="button">VER PERFIL</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="card-profile">
						<div class="card-profile-body text-center">
							<div class="card-body">
								<img src="http://www.bootstrapdash.com/demo/star-admin-free/jquery/images/faces/face4.jpg" class="rounded-circle  height-150" alt="Card image">
							</div>
							<h3 class="user-name green">Bruno Mars</h3>
							<span class="user-classe">Especialista</span>							
							<div class="action-buttons">
								<a href="user-profile.html" class="btn action-button" role="button">VER PERFIL</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="card-profile">
						<div class="card-profile-body text-center">
							<div class="card-body">
								<img src="https://colorlib.com/polygon/sufee/images/admin.jpg" class="rounded-circle  height-150" alt="Card image">
							</div>
							<h3 class="user-name green">Roberto Malone</h3>
							<span class="user-classe">Consultor</span>							
							<div class="action-buttons">
								<a href="user-profile.html" target="_self" class="btn action-button" role="button">VER PERFIL</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
