<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">

        	 <div class="container">
        	 	<div class="row bg-success">
        	 		<div class="col bg-warning">
        	 			
        	 			<div class="row">
	        	 			<div class="col">
	        	 				1- 1/2
	        	 				<div class="card">
	        	 					<div class="card-header">
	        	 						<h4 class="card-title">Special</h4>
	        	 						<div class="heading-elements">
	        	 							<ul class="list-inline mb-0">                             
	        	 								<li><a data-action="close"><i class="ft-x"></i></a></li>
	        	 							</ul>
	        	 						</div>
	        	 					</div>
	        	 					<div class="card-content" aria-expanded="true">
	        	 						<div class="card-body">
	        	 							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	 							<a href="#" class="btn btn-primary">Go somewhere</a>
	        	 						</div>
	        	 					</div>
	        	 					<div class="card-footer">
	        	 						<span class="text-muted">ABCD</span>
	        	 					</div>
	        	 				</div>
	        	 			</div>
	        	 			<div class="col">
	        	 				1- 2/2
	        	 				<div class="card">
	        	 					<div class="card-header">
	        	 						<h4 class="card-title">Special</h4>
	        	 						<div class="heading-elements">
	        	 							<ul class="list-inline mb-0">                             
	        	 								<li><a data-action="close"><i class="ft-x"></i></a></li>
	        	 							</ul>
	        	 						</div>
	        	 					</div>
	        	 					<div class="card-content" aria-expanded="true">
	        	 						<div class="card-body">
	        	 							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	 							<a href="#" class="btn btn-primary">Go somewhere</a>
	        	 						</div>
	        	 					</div>
	        	 					<div class="card-footer">
	        	 						<span class="text-muted">ABCD</span>
	        	 					</div>
	        	 				</div>
	        	 			</div>
        	 			</div>
        	 			<div class="row">
        	 				<div class="col">
        	 					1 of 1
        	 					<div class="card">
	        	 					<div class="card-header">
	        	 						<h4 class="card-title">Special</h4>
	        	 						<div class="heading-elements">
	        	 							<ul class="list-inline mb-0">                             
	        	 								<li><a data-action="close"><i class="ft-x"></i></a></li>
	        	 							</ul>
	        	 						</div>
	        	 					</div>
	        	 					<div class="card-content" aria-expanded="true">
	        	 						<div class="card-body">
	        	 							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	 							<a href="#" class="btn btn-primary">Go somewhere</a>
	        	 						</div>
	        	 					</div>
	        	 					<div class="card-footer">
	        	 						<span class="text-muted">ABCD</span>
	        	 					</div>
	        	 				</div>
        	 				</div>
        	 			</div>
        	 		</div>
        	 		<div class="col bg-cyan">
        	 			2 of 2




	        	 			<div class="card-content">
		        	 			<div class="row">
		        	 				<div class="col-xl-4 col-lg-6 col-12">
		        	 					<div class="card">
		        	 						<div class="card-content">
				        	 					<div class="card-body text-center">
				        	 						<h1 class="display-4">
				        	 							<i class="icon-bulb font-large-2"></i>
				        	 						</h1>
				        	 						<span class="text-red">Upgrade Premium</span>
				        	 					</div>
		        	 						</div>
		        	 					</div>
		        	 				</div>
		        	 				<div class="col-xl-4 col-lg-6 col-12">
		        	 					<div class="card">
		        	 						<div class="card-content">
				        	 					<div class="card-body text-center">
				        	 						<h1 class="display-4">
				        	 							<i class="icon-bulb font-large-2"></i>
				        	 						</h1>
				        	 						<span class="text-red">Conversion Rate</span>
				        	 					</div>
		        	 						</div>
		        	 					</div> 	 	
									<!-- -->
		        	 				</div>
		        	 				<div class="col-xl-4 col-lg-6 col-12">
		        	 					<div class="card">
		        	 						<div class="card-content">
				        	 					<div class="card-body text-center">
				        	 						<h1 class="display-4">
				        	 							<i class="icon-bubbles font-large-3"></i>
				        	 						</h1>
				        	 						<span class="text-red">Conversion Rate</span>
				        	 					</div>
		        	 						</div>
		        	 					</div>
		        	 				</div>
		        	 			</div>
	        	 			</div>


        	 			<div class="card-content">
        	 				<div class="card-deck-wrapper">
        	 					<div class="card-deck">
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/05.jpg" alt="Card image cap">
        	 								<div class="card-body">
        	 									<h4 class="card-title">Card title</h4>
        	 									<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        	 									<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        	 								</div>
        	 							</div>
        	 						</div>
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/09.jpg" alt="Card image cap">
        	 								<div class="card-body">
        	 									<h4 class="card-title">Card title</h4>
        	 									<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        	 									<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        	 								</div>
        	 							</div>
        	 						</div>
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/02.jpg" alt="Card image cap">
        	 								<div class="card-body">
        	 									<h4 class="card-title">Card title</h4>
        	 									<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        	 									<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        	 								</div>
        	 							</div>
        	 						</div>

        	 					</div>
        	 				</div>
        	 				

        	 			</div>




        	 		</div>
        	 	</div>



        	 </div>






        </div>
    </div>
</div>