
<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" href="css/tempstyle.css">

  <!-- END VENDOR CSS-->


<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-body">
			
			<div class="row">
				<div class="col-lg-4">
					<div class="card ">

						<header>
							<h5>header -1</h5>
							<div class="toolbar">
								<span class="label">toolbar</span> 
							</div>
						</header>
						<div class="body fixed_height_320">
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</span>
						</div>
						<div class="card-footer border-0 text-muted">
							<span class="badge badge-pill badge-success">Trespasse</span>
							<span class="float-right primary"><a href="">Ver Oferta <i class="ft-arrow-right"></i></a></span>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card">
						<div class="card-content">
							<img class="card-img-market" src="https://img01-olxpt.akamaized.net/img-olxpt/937090630_1_261x203_trespasse-loures.jpg" alt="Card image cap">
							<div class="card-footer border-bottom-0 text-muted">
								<!-- <span class="float-left">2 days ago</span> -->
								<div class="float-left">
									<span class="card-text text-center font-medium-3 text-bold-600 card-business-name">Sonae SA
									</span >
								</div>
								<span class="tags float-right">
									<span class="badge badge-pill badge-success">Trespasse</span>
								</span>
							</div>
							<div class="card-body">
								<div class="float-right">
									<h5 class="font-large-1">€<span class="price">50.000</span></h5>
								</div>
							</div>
						</div>
						<div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
							<span class="float-left">2 days ago</span>
							<span class="float-right primary">
								<a href="#" class="card-link">Ver Oferta <i class="ft-arrow-right"></i></a>
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card">
						<div class="card-content">
							<img class="card-img-market" src="app-assets/images/carousel/02.jpg" alt="Card image cap">
							<div class="card-footer border-bottom-0 text-muted">
								<!-- <span class="float-left">2 days ago</span> -->
								<div class="float-left">
									<span class="card-text text-center font-medium-3 text-bold-600 card-business-name">Sonae SA
									</span >
								</div>
								<span class="tags float-right">
									<span class="badge badge-pill badge-success">Trespasse</span>
								</span>
							</div>
							<div class="card-body">
								<div class="float-right">
									<h5 class="font-large-1">€<span class="price">50.000</span></h5>
								</div>
							</div>
						</div>
						<div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
							<span class="float-left">2 days ago</span>
							<span class="float-right primary">
								<a href="#" class="card-link">Ver Oferta <i class="ft-arrow-right"></i></a>
							</span>
						</div>
					</div>
				</div>

				<!--
				<div class="col-lg-4">
					<div class="card ">
						<header>
							<h5>header -3</h5>
							<div class="toolbar">
								<span class="label">toolbar</span> 
							</div>
						</header>
						<div class="body fixed_height_320">
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</span>
						</div>
					</div>
				</div>-->
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="card">
						<div class="card-content">
							<img class="card-img-market" src="https://img01-olxpt.akamaized.net/img-olxpt/937090630_1_261x203_trespasse-loures.jpg" alt="Card image cap">
							<div class="card-footer border-bottom-0 text-muted">
								<!-- <span class="float-left">2 days ago</span> -->
								<div class="float-left">
									<span class="card-text text-center font-medium-3 text-bold-600 card-business-name">Sonae SA
									</span >
								</div>
								<span class="tags float-right">
									<span class="badge badge-pill badge-success">Trespasse</span>
								</span>
							</div>
							<div class="card-body">
								<div class="float-right">
									<h5 class="font-large-1">€<span class="price">50.000</span></h5>
								</div>
							</div>
						</div>
						<div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
							<span class="float-left">2 days ago</span>
							<span class="float-right primary">
								<a href="#" class="card-link">Ver Oferta <i class="ft-arrow-right"></i></a>
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="card">
						<div class="card-content">
							<img class="card-img-market" src="https://img01-olxpt.akamaized.net/img-olxpt/937090630_1_261x203_trespasse-loures.jpg" alt="Card image cap">
							<div class="card-footer border-bottom-0 text-muted">
								<!-- <span class="float-left">2 days ago</span> -->
								<div class="float-left">
									<span class="card-text text-center font-medium-3 text-bold-600 card-business-name">Sonae SA
									</span >
								</div>
								<span class="tags float-right">
									<span class="badge badge-pill badge-success">Trespasse</span>
								</span>
							</div>
							<div class="card-body">
								<div class="float-right">
									<h5 class="font-large-1">€<span class="price">50.000</span></h5>
								</div>
							</div>
						</div>
						<div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
							<span class="float-left">2 days ago</span>
							<span class="float-right primary">
								<a href="#" class="card-link">Ver Oferta <i class="ft-arrow-right"></i></a>
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="card">
						<div class="card-content">
							<img class="card-img-market" src="app-assets/images/carousel/02.jpg" alt="Card image cap">
							<div class="card-footer border-bottom-0 text-muted">
								<!-- <span class="float-left">2 days ago</span> -->
								<div class="float-left">
									<span class="card-text text-center font-medium-3 text-bold-600 card-business-name">Sonae SA
									</span >
								</div>
								<span class="tags float-right">
									<span class="badge badge-pill badge-success">Trespasse</span>
								</span>
							</div>
							<div class="card-body">
								<div class="float-right">
									<h5 class="font-large-1">€<span class="price">50.000</span></h5>
								</div>
							</div>
						</div>
						<div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
							<span class="float-left">2 days ago</span>
							<span class="float-right primary">
								<a href="#" class="card-link">Ver Oferta <i class="ft-arrow-right"></i></a>
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="card">
						<div class="card-content">
							<img class="card-img-market" src="app-assets/images/carousel/02.jpg" alt="Card image cap">
							<div class="card-footer border-bottom-0 text-muted">
								<!-- <span class="float-left">2 days ago</span> -->
								<div class="float-left">
									<span class="card-text text-center font-medium-3 text-bold-600 card-business-name">Sonae SA
									</span >
								</div>
								<span class="tags float-right">
									<span class="badge badge-pill badge-success">Trespasse</span>
								</span>
							</div>
							<div class="card-body">
								<div class="float-right">
									<h5 class="font-large-1">€<span class="price">50.000</span></h5>
								</div>
							</div>
						</div>
						<div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
							<span class="float-left">2 days ago</span>
							<span class="float-right primary">
								<a href="#" class="card-link">Ver Oferta <i class="ft-arrow-right"></i></a>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!-- // fim 3ª linha -->
			<!-- 1ª Linha -->
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="row">
						<div class="x_panel tile fixed_height_320">
							<div class="row">
								<div class="col-md-4 col-sm-6 col-xs-6">
									<a class="quick-btn" href="#">
										<i class="fa fa-bolt fa-2x"></i>
										<span>default</span>
									</a>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-6">
									<a class="quick-btn" href="#">
										<i class="fa fa-bolt fa-2x"></i>
										<span>default</span>
									</a>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-6">
									<a class="quick-btn" href="#">
										<i class="fa fa-bolt fa-2x"></i>
										<span>default</span>
									</a>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-6">
									<a class="quick-btn" href="#">
										<i class="fa fa-bolt fa-2x"></i>
										<span>default</span>
									</a>
								</div>

							</div>
						</div>

					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="row">
						<div class="x_panel tile fixed_height_320">
							<div class="row">
								<div class="col-md-4 col-sm-6 col-xs-6">
									<a class="quick-btn" href="#">
										<i class="fa fa-bolt fa-2x"></i>
										<span>default</span>
									</a>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-6">
									<a class="quick-btn" href="#">
										<i class="fa fa-bolt fa-2x"></i>
										<span>default</span>
									</a>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-6">
									<a class="quick-btn" href="#">
										<i class="fa fa-bolt fa-2x"></i>
										<span>default</span>
									</a>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-6">
									<a class="quick-btn" href="#">
										<i class="fa fa-bolt fa-2x"></i>
										<span>default</span>
									</a>
								</div>

							</div>
						</div>

					</div>
				</div>
				<div class="col-xl-4 col-md-6 col-12">
					<div class="card">
						<div class="text-center">
							<div class="card-body">
								<img src="app-assets/images/portrait/medium/avatar-m-1.png" class="rounded-circle  height-150" alt="Card image">
							</div>
							<div class="card-body">
								<h4 class="card-title">Joseph Ryan</h4>
								<h6 class="card-subtitle text-muted">Marketing Head</h6>
							</div>
							<div class="text-center">
								<a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook"><span class="fa fa-facebook"></span></a>
								<a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter"><span class="fa fa-twitter"></span></a>
								<a href="#" class="btn btn-social-icon mb-1 btn-outline-linkedin"><span class="fa fa-linkedin font-medium-4"></span></a>
							</div>
						</div>
					</div>
				</div>									
			</div>
			<!-- //Fim 1ª linha -->
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 mb">
					<div class="product-panel-2 pn">
						<div class="badge badge-hot">HOT</div>
						<img src="https://www.blacktie.co/demo/dashgum/assets/img/product.jpg" width="200" alt="">
						<h5 class="mt">Flat Pack Heritage</h5>
						<h6>TOTAL SALES: 1388</h6>
						<button class="btn btn-small btn-theme04">FULL REPORT</button>
					</div>
				</div><!-- /col-md-4 -->

				<!--  Spotify Panel -->
				<div class="col-lg-4 col-md-4 col-sm-4 mb mt">
					<div class="content-panel pn">
						<div id="spotify">
							<div class="col-xs-4 col-xs-offset-8">
								<button class="btn btn-sm btn-clear-g">FOLLOW</button>
							</div>
							<div class="sp-title">
								<h3>LORDE</h3>
							</div>
							<div class="play">
								<button class="btn btn-sm btn-primary">CONSULT</button>
							</div>
						</div>
						<p class="followers"><i class="fa fa-user"></i> 576,000 FOLLOWERS</p>
					</div>
				</div><!-- /col-md-4-->

				<!--  Blog Panel -->
				<div class="col-lg-4 col-md-4 col-sm-4 mb">
					<div class="content-panel pn">
						<div id="blog-bg">
							<div class="badge badge-popular">POPULAR</div>
							<div class="blog-title">Incredible Title</div>
						</div>
						<div class="blog-text">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <a href="#">Read More</a></p>
						</div>
					</div>
				</div><!-- /col-md-4-->
			</div>
			<!-- // fim 2ª linha -->
		</div>
	</div>
</div>







<!-- BEGIN PAGE VENDOR JS-->
  <script src="dist/app-assets/vendors/js/charts/echarts/echarts.js" type="text/javascript"></script>
  <script src="dist/app-assets/vendors/js/charts/raphael-min.js" type="text/javascript"></script>
  <script src="dist/app-assets/vendors/js/charts/morris.min.js" type="text/javascript"></script>
  <script src="dist/app-assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script>
  <script src="dist/app-assets/vendors/js/charts/chartist-plugin-tooltip.js" type="text/javascript"></script>
  <script src="dist/app-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
  <!-- END PAGE VENDOR JS-->
<!-- BEGIN PAGE LEVEL JS - [Dashboard] -->
  <script src="js/dasboard/dasboard.js" type="text/javascript"></script>
  <!-- END PAGE LEVEL JS-->

