<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-7 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header border-0 pb-0">
                                <div class="card-title text-center">
                                    <img src="../img/logos/blue_logo_medium.png"  class="logo-blue-md" alt="branding logo"> 
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                    <span>BUSINESS IDEIA</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form-horizontal" method="post" action="/users/business_idea" novalidate>
                                        <div class="row">
                                            <div class="col-12 col-sm-8 col-md-8">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="nome_projeto" id="nome_projeto" class="form-control input-lg" placeholder="Nome do projeto" tabindex="8">
                                                    <div class="form-control-position">
                                                        <i class="ft-globe"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="tamanho_equipa" id="tamanho_equipa" class="form-control input-lg" placeholder="Tamanho da equipa"
                                                        tabindex="10">
                                                    <div class="form-control-position">
                                                        <i class="ft-globe"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="text" name="descricao_projeto" id="descricao_projeto" class="form-control input-lg" placeholder="Descricao do projeto"
                                                tabindex="11">
                                            <div class="form-control-position">
                                                <i class="ft-mail"></i>
                                            </div>
                                            <div class="help-block font-small-3"></div>
                                        </fieldset>
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="modelo_negocio" id="modelo_negocio" class="form-control input-lg" placeholder="Modelo de negocio"
                                                        tabindex="12">
                                                    <div class="form-control-position">
                                                        <i class="ft-phone"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="publico_alvo" id="publico_alvo" class="form-control input-lg" placeholder="Publico alvo" tabindex="13">
                                                    <div class="form-control-position">
                                                        <i class="ft-globe"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="concorrencia" id="concorrencia" class="form-control input-lg" placeholder="Concorrencia" tabindex="14">
                                                    <div class="form-control-position">
                                                        <i class="ft-phone"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="url_apresentacao" id="url_apresentacao" class="form-control input-lg" placeholder="URL apresentacao"
                                                        tabindex="15">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="url_modelo_negocio" id="url_modelo_negocio" class="form-control input-lg" placeholder="URL Modelo negocio"
                                                        tabindex="16">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="url_matriz_financeira" id="url_matriz_financeira" class="form-control input-lg" placeholder="URL Matriz financeira"
                                                        tabindex="17">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="project_team" id="project_team" class="form-control input-lg" placeholder="Project Team" tabindex="18">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="work_plan" id="work_plan" class="form-control input-lg" placeholder="Work Plan" tabindex="19">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <select class="form-control" name="regiao" id="regiao" tabindex="5">
                                                        <option value="Portugal">Selecione uma região</option>
                                                        <option value="Espanha">Espanha</option>
                                                    </select>
                                                    <div class="form-control-position">
                                                        <i class="ft-globe"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <select class="form-control" name="setor_atividade" id="setor_atividade" tabindex="11">
                                                        <option value="Portugal">Setor de Atividade</option>
                                                        <option value="bar_cafe">Bares e Cafés</option>
                                                        <option value="clinicas">Clínicas</option>
                                                        <option value="const_civ">Construção Civil</option>
                                                        <option value="fabricas">Fábricas</option>
                                                        <option value="lojas">Lojas</option>
                                                        <option value="pastelarias">Pastelarias</option>
                                                        <option value="restaurantes">Restaurantes</option>
                                                        <option value="supermercados">Supermercados</option>
                                                        <option value="servicos">Serviços</option>
                                                        <option value="outros">Outros Negócios</option>
                                                    </select>
                                                    <div class="form-control-position">
                                                        <i class="ft-globe"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <select class="form-control" name="tipo_sociedade" id="tipo_sociedade" tabindex="12">
                                                        <option value="Portugal">Tipo Sociedade</option>
                                                        <option value="emp_indiv">Emp. em Nome Individual</option>
                                                        <option value="eirl">E.I.R.L</option>
                                                        <option value="soc_uni_quotas">Soc. Unipessoal por Quotas</option>
                                                        <option value="soc_colectivo">Soc. em Nome Colectivo</option>
                                                        <option value="soc_por_quotas">Sociedade por Quotas</option>
                                                        <option value="soc_anonima">Sociedade Anónima</option>
                                                    </select>
                                                    <div class="form-control-position">
                                                        <i class="ft-phone"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="logo_url" id="logo_url" class="form-control input-lg" placeholder="Logo URL" tabindex="22">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="foto_url" id="foto_url" class="form-control input-lg" placeholder="Foto URL" tabindex="23">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <button type="submit" class="btn btn-info btn-lg btn-block">
                                                    <i class="ft-user"></i> Continuar</button>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <a href="login" class="btn btn-danger btn-lg btn-block">
                                                    <i class="ft-unlock"></i> Sair</a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>