<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-7 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header border-0 pb-0">
                                <div class="card-title text-center">
                                    <img src="../img/logos/blue_logo_medium.png" class="logo-blue-md" alt="branding logo">
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                    <span>ESCOLHA O SEU TIPO</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="/market/nif_empresa">
                                                <div class="card">
                                                    <div class="card-content">
                                                        <div class="card-body text-center">
                                                            <h1 class="display-4">
                                                                <i class="fa fa-building font-large-2 blue"></i>
                                                            </h1>
                                                            <span class="font-medium-2">Empresa</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="/market/investidor_privado">
                                                <div class="card">
                                                    <div class="card-content">
                                                        <div class="card-body text-center">
                                                            <h1 class="display-4">
                                                                <i class="fa fa-user font-large-2 blue"></i>
                                                            </h1>
                                                            <span class="font-medium-2">Investidor Privado</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="/market/nif_coletivo">
                                                <div class="card">
                                                    <div class="card-content">
                                                        <div class="card-body text-center">
                                                            <h1 class="display-4">
                                                                <i class="fa fa-users font-large-2 blue"></i>
                                                            </h1>
                                                            <span class="font-medium-2">Investidor Coletivo</span>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="/market/ideia_negocio">
                                                <div class="card">
                                                    <div class="card-content">
                                                        <div class="card-body text-center">
                                                            <h1 class="display-4">
                                                                <i class="icon-speedometer font-large-2 blue"></i>
                                                            </h1>
                                                            <span class="font-medium-2">Ideia de Negócio</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
