<div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">As Minhas Negociações</h3>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                                            <div class="">
                                                <span class="blue darken-1 block">Open</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="font-large-1 line-height-1 text-bold-600">70,111,445</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="grey darken-1 block">Revenue</span>
                                            </div>
                                            <div class="text-center mt-1">
                                                <span class="font-medium-3 line-height-1 text-bold-300">1,105</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="grey darken-1 block">Count</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                                            <div class="">
                                                <span class="blue darken-1 block">Close Won</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="font-large-1 line-height-1 text-bold-600">15,479,802</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="grey darken-1 block">Revenue</span>
                                            </div>
                                            <div class="text-center mt-1">
                                                <span class="font-medium-3 line-height-1 text-bold-300">307</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="grey darken-1 block">Count</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                                            <div class="">
                                                <span class="blue darken-1 block">Close Lost</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="font-large-1 line-height-1 text-bold-600">13,484,706</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="grey darken-1 block">Revenue</span>
                                            </div>
                                            <div class="text-center mt-1">
                                                <span class="font-medium-3 line-height-1 text-bold-300">279</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="grey darken-1 block">Count</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-12 clearfix">
                                            <div class="">
                                                <span class="blue darken-1 block">Total</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="font-large-1 line-height-1 text-bold-600">99,145,963</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="grey darken-1 block">Revenue</span>
                                            </div>
                                            <div class="text-center mt-1">
                                                <span class="font-medium-3 line-height-1 text-bold-300">2,000</span>
                                            </div>
                                            <div class="text-center">
                                                <span class="grey darken-1 block">Count</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--fitness stats-->

                <!-- activity charts -->
                <div class="row match-height">
                    <div class="col-xl-6 col-lg-12">
                        <div class="card">
                            <div class="card-header no-border-bottom">
                                <h4 class="card-title">Valor de Negócio <span class="text-muted text-bold-400">Weekly</span>
                                </h4>
                                <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content height-400">
                                <canvas id="bar-chart" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12">
                        <div class="card">
                            <div class="card-header no-border-bottom">
                                <h4 class="card-title">Tipo de Negócio
                                </h4>
                                <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content height-400">
                                <canvas id="simple-doughnut-chart" height="400"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- activity charts -->
                <div class="row match-height">
                    <div class="col-xl-6 col-lg-12">
                        <div class="card">
                            <div class="card-header no-border-bottom">
                                <h4 class="card-title">Região <span class="text-muted text-bold-400">Weekly</span>
                                </h4>
                                <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content height-400">
                                <div id="multi-select-region" class="jqvmap-area"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12">
                        <div class="card">
                            <div class="card-header no-border-bottom">
                                <h4 class="card-title">Sector de Actividade
                                </h4>
                                <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content height-400">
                                <canvas id="simple-doughnut-chart2" height="400"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>