<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header border-0 pb-0">
                                <div class="card-title text-center">
                                    <img src="../img/logos/blue_logo_medium.png" class="logo-blue-md" alt="branding logo">
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                    <span>Please Sign Up</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form-horizontal" method="post" action="/market/nifvalidation_empresa" novalidate>
                                        <fieldset class="form-group position-relative has-icon-left" name="business_form" id="business_form" style="display:show;">
                                            <input type="text" name="business_nif" id="business_nif" class="form-control input-lg" placeholder="NIF" tabindex="1">
                                            <div class="form-control-position">
                                                <i class="ft-briefcase"></i>
                                            </div>
                                            <div class="help-block font-small-3"></div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left" name="business_form2" id="business_form2" style="display:show;">
                                            <select class="form-control" name="distrito_business">
                                                <option value="null" selected="selected">Selecione o distrito</option>
                                                <option value="Aveiro">Aveiro</option>
                                                <option value="Beja">Beja</option>
                                                <option value="Braga">Braga</option>
                                                <option value="Bragança">Bragança</option>
                                                <option value="Castelo Branco">Castelo Branco</option>
                                                <option value="Coimbra">Coimbra</option>
                                                <option value="Evora">Evora</option>
                                                <option value="Faro">Faro</option>
                                                <option value="Guarda">Guarda</option>
                                                <option value="Leiria">Leiria</option>
                                                <option value="Lisboa">Lisboa</option>
                                                <option value="Portalegre">Portalegre</option>
                                                <option value="Porto">Porto</option>
                                                <option value="Santarem">Santarem</option>
                                                <option value="Setubal">Setubal</option>
                                                <option value="Viana do Castelo">Viana do Castelo</option>
                                                <option value="Vila Real">Vila Real</option>
                                                <option value="Viseu">Viseu</option>
                                            </select>
                                            <div class="form-control-position">
                                                <i class="ft-globe"></i>
                                            </div>
                                            <div class="help-block font-small-3"></div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left" name="business_ideia_form" id="business_ideia_form" style="display:none;">
                                            <input type="text" name="nif_business_idea" id="nif_business_idea" class="form-control input-lg" placeholder="NIF" tabindex="1">
                                            <div class="form-control-position">
                                                <i class="ft-briefcase"></i>
                                            </div>
                                            <div class="help-block font-small-3"></div>
                                        </fieldset>
                                        <div class="row">
                                            <div class="col-8 col-sm-6 col-md-6">
                                                <a href="login" class="btn btn-danger btn-lg btn-block">
                                                    <i class="ft-unlock"></i> Cancelar</a>
                                            </div>
                                            <div class="col-8 col-sm-6 col-md-6">
                                                <button type="submit" class="btn btn-info btn-lg btn-block">
                                                    <i class="ft-user"></i> Continuar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

