<div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Oferta #1</h3> 
          </div>
        </div>
        <div class="content-body">
        <!-- // 1ª Linha -->
                        <!-- // Descrição -->
                <div class="row match-height">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Descrição</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend
                                        leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum
                                        orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a>.
                                    </p>
                                </div>
                            </div>
                            <div class="card-header">
                                <h4 class="card-title">Detalhes</h4>
                            </div>


                            <div class="card-content">
                                <div class="card-body">
                                    <div class="container det-box">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p><span class="text-bold-600 font-medium-1 pr-1">Tipo de Oferta: </span><span class="text-muted">Cessão de Exploração</span></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p><span class="text-bold-600 font-medium-1 pr-1">Valor de Mercado: </span><span class="text-muted">20.000€-50.000€</span></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p><span class="text-bold-600 font-medium-1 pr-1">Duração do Pagamento: </span><span class="text-muted">Trimestral</span></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p><span class="text-bold-600 font-medium-1 pr-1">Modo de Renovação: </span><span class="text-muted">Automática</span></p>
                                            </div>
                                            <div class="col-md-4">
                                                <p><span class="text-bold-600 font-medium-1 pr-1">Duração do Contrato: </span><span class="text-muted">Sim</span></p>
                                            </div>
                                            <div class="col-md-4">
                                                <p><span class="text-bold-600 font-medium-1 pr-1">Inventário Incluído: </span><span class="text-muted">Sim</span></p>
                                            </div>
                                            <div class="col-md-4">
                                                <p><span class="text-bold-600 font-medium-1 pr-1">Com Trabalhadores: </span><span class="text-muted">Sim</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Project Details</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-plus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <!-- project search -->
                                <div class="card-body border-top-blue-grey border-top-lighten-5">
                                    <button type="button" class="btn btn-success btn-block mr-1 mb-1"><i class="fa fa-info mr-1"></i> Proposta</button>
                                    <button type="button" class="btn btn-danger btn-block mr-1 mb-1"><i class="fa fa-user mr-1"></i> Adicionar Contato</button>
                                    <button type="button" class="btn btn-warning btn-block mr-1 mb-1"><i class="fa fa-eye mr-1"></i> Adicionar Favoritos</button>
                                </div>
                                <!-- /project search -->

                                <!-- project progress -->
                                <div class="card-body">
                                    <div class="insights text-center">
                                        <h5>Preço</h5>
                                        <h2>
                                            <span class="">30.000€</span>
                                        </h2>
                                    </div>
                                </div>
                                <!-- project progress -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 1ª Linha  tab select -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <ul class="nav nav-pills" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="resumo-tab" data-toggle="tab" href="#resumo" role="tab" aria-controls="resumo" aria-selected="true">Resumo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contabilidade-tab" data-toggle="tab" href="#contabilidade" role="tab" aria-controls="contabilidade" aria-selected="false">Contabilidade</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="comercial-tab" data-toggle="tab" href="#comercial" role="tab" aria-controls="comercial" aria-selected="false">Comercial</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">Imagens</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="rating-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating" aria-selected="false">Avaliação</a>
                                </li>
                            </ul>
                            <!-- -->
                        </div>
                    </div>
                </div>


                <!-- // Conteudo Tabs -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active show" id="resumo">
                        <!-- Tabela #1-->
                        <div class="row">
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="table-title card-title">Estrutura Legal</h4>
                                        <table class="table company-table-estrutura table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="company-table-label">Entidade</td>
                                                    <td class="company-table-content" colspan="3"><i>Nome da Empresa</i></td>
                                                </tr>
                                                <tr>
                                                    <td class="company-table-label">NIF</td>
                                                    <td class="company-table-content">507002002</td>
                                                    <td class="company-table-label">Sede</td>
                                                    <td class="company-table-content">Av. 15 de Março, 44 4100-123 Porto</td>
                                                </tr>
                                                <tr>
                                                    <td class="company-table-label">Forma Jurídica</td>
                                                    <td class="company-table-content">Sociedade por Quotas</td>
                                                    <td class="company-table-label">Capital Social</td>
                                                    <td class="company-table-content"> € 3.000.000</td>
                                                </tr>
                                                <tr>
                                                    <td class="company-table-label">Data Constituição</td>
                                                    <td class="company-table-content">21/02/2002</td>
                                                    <td class="company-table-label">CAE</td>
                                                    <td class="company-table-content">Indisponivel</td>
                                                </tr>
                                                <tr>
                                                    <td class="company-table-label">Actividade</td>
                                                    <td class="company-table-content" colspan="3">Pastelarias e Bares</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <hr>
                                        <br>
                                        <h4 class="table-title card-title">Estado da Empresa</h4>
                                        <table class="table company-table-estrutura table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="company-table-label">Estado da Empresa</td>
                                                    <td class="company-table-content">Em Actividade</td>
                                                    <td class="company-table-label">Dívida Fiscal</td>
                                                    <td class="company-table-content">Não</td>
                                                </tr>
                                                <tr>
                                                    <td class="company-table-label">Processos</td>
                                                    <td class="company-table-content">Insolvência/Revitalização: Não</td>
                                                    <td class="company-table-label">Acções em Tribunal</td>
                                                    <td class="company-table-content">Não</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-header mb-1">
                                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                        <div class="heading-elements">
                                            <ul class="list-inline mb-0">
                                                <li><a data-action="collapse"><i class="ft-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-content collapse show">
                                        <div class="card-body">
                                            <div class="insights text-center mt-1 mb-1">
                                                <p>Liquidez</p>
                                                <div class="progress progress-sm mt-1 mb-0">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 72%" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="insights text-center mt-1 mb-1">
                                                <p>Rentabilidade</p>
                                                <div class="progress progress-sm mt-1 mb-0">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="insights text-center mt-1 mb-1">
                                                <p>Endividamento</p>
                                                <div class="progress progress-sm mt-1 mb-0">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="contabilidade">
                        <!-- Tabelas Activo + Capital Proprio + Passivo -->
                        <div class="row row-same-height">
                            <div class="col-md-6">
                                <div class="card card-350">
                                    <!-- Tabela Activo-->
                                    <div class="card-body">
                                        <h4 class="table-title card-title">Activo</h4>
                                        <table class="table company-table-estrutura table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="comercial-table-label">Inventário</td>
                                                    <td class="comercial-table-content"><span>600</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Adiantamento a fornecedores</td>
                                                    <td class="comercial-table-content"><span>200</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Outras contas a receber</td>
                                                    <td class="comercial-table-content"><span>150</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Caixa</td>
                                                    <td class="comercial-table-content"><span>200</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Depósitos Bancários</td>
                                                    <td class="comercial-table-content"><span>200</span></td>
                                                </tr>
                                                <tr class="row-border-up">
                                                    <td class="comercial-table-label comercial-table-total font-medium-2 text-bold-700">Total</td>
                                                    <td class="comercial-table-content text-bold-700"><span>5000</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Graph Activo -->
                                <div class="card card-350">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="mx-auto" style="position: relative;">
                                                <canvas id="activoBar-chart" width="800" height="450"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-350">
                                    <!-- Tabela Capital Próprio-->
                                    <div class="card-body">
                                        <h4 class="table-title card-title">Capital Próprio</h4>
                                        <table class="table company-table-estrutura table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="comercial-table-label">Capital Realizado</td>
                                                    <td class="comercial-table-content"><span>600</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Reservas Legais</td>
                                                    <td class="comercial-table-content"><span>200</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Outras Reservas</td>
                                                    <td class="comercial-table-content"><span>150</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Resultados Transitados</td>
                                                    <td class="comercial-table-content"><span>200</span></td>
                                                </tr>
                                                <tr class="row-border-up">
                                                    <td class="comercial-table-label comercial-table-total font-medium-2 text-bold-700">Total</td>
                                                    <td class="comercial-table-content text-bold-700"><span>5000</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Graph Proprio -->
                                <div class="card card-350">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="mx-auto" style="position: relative;">
                                                <canvas id="proprioBar-chart" width="800" height="450"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-510">
                                    <!-- Tabela Passivo -->
                                    <div class="card-body">
                                        <h4 class="table-title card-title">Passivo</h4>
                                        <table class="table company-table-estrutura table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="comercial-table-label">Crédito Bancário</td>
                                                    <td class="comercial-table-content"><span>600</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Imposto e Segurança Social</td>
                                                    <td class="comercial-table-content"><span>200</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Outras Passivos</td>
                                                    <td class="comercial-table-content"><span>150</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Suprimentos</td>
                                                    <td class="comercial-table-content"><span>200</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Fornecedores</td>
                                                    <td class="comercial-table-content"><span>200</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Trabalhadores</td>
                                                    <td class="comercial-table-content"><span>200</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Administração</td>
                                                    <td class="comercial-table-content"><span>200</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label comercial-table-subtotal">Subtotal Médio e Longo Prazo</td>
                                                    <td class="comercial-table-content comercial-tsubtotal"><span>5000</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label comercial-table-subtotal">Subtotal Curto Prazo</td>
                                                    <td class="comercial-table-content comercial-tsubtotal"><span>5000</span></td>
                                                </tr>
                                                <tr class="row-border-up">
                                                    <td class="comercial-table-label comercial-table-total font-medium-2 text-bold-700">Total</td>
                                                    <td class="comercial-table-content text-bold-700"><span>5000</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Graph Passivo -->
                                <div class="card card-510">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="mx-auto" style="position: relative;">
                                                <canvas id="passivoBar-chart" width="800" height="450"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="comercial">
                        <div class="row row-same-height">
                            <div class="col-md-6">
                                <!-- Receitas -->
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="table-title card-title">Receitas</h4>
                                        <table class="table company-table-estrutura table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="comercial-table-label">Vendas</td>
                                                    <td class="comercial-table-content" colspan="3"><span>600</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Prestação de Serviços</td>
                                                    <td class="comercial-table-content">
                                                        <span>200</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Juros e Royalties</td>
                                                    <td class="comercial-table-content">
                                                        <span>150</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Outros Rendimentos</td>
                                                    <td class="comercial-table-content">
                                                        200
                                                    </td>
                                                </tr>
                                                <tr class="row-border-up">
                                                    <td class="comercial-table-label comercial-table-total font-medium-2 text-bold-700">Volume de Faturação</td>
                                                    <td class="comercial-table-content text-bold-700" colspan="3">
                                                        <span>5000</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Despesas -->
                                <div class="card">
                                    <div class="card-body table-chart-height">
                                        <h4 class="table-title card-title">Despesas</h4>
                                        <table class="table company-table-estrutura table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="comercial-table-label">Compras</td>
                                                    <td class="comercial-table-content" colspan="3"><span>500</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Contratação de Serviços</td>
                                                    <td class="comercial-table-content">
                                                        <span>100</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Gastos com Trabalhadores</td>
                                                    <td class="comercial-table-content">
                                                        <span>250</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="comercial-table-label">Outros Gastos</td>
                                                    <td class="comercial-table-content">
                                                        50
                                                    </td>
                                                </tr>
                                                <tr class="row-border-up">
                                                    <td class="comercial-table-label comercial-table-total font-medium-2 text-bold-700">Total de Despesas</td>
                                                    <td class="comercial-table-content text-bold-700" colspan="3">
                                                        <span>5000</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-same-height">
                            <div class="col-md-4">
                                <!-- Graph Receitas -->
                                <div class="card card-350">
                                    <div class="card-content">
                                        <div class="card-body">
                                            
                                            <div class="mx-auto" style="position: relative;">
                                                <canvas id="earning-report"></canvas>
                                            </div>
                                            <div class="py-4 d-flex justify-content-center align-items-end">
                                                <h1 class="text-center text-md-left mb-0">5M</h1>
                                                <p class="text-muted mb-0 ml-2">Total</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- Graph Despesas Bar -->
                                <div class="card card-350">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="mx-auto" style="position: relative;">
                                                <canvas id="despesasBar-chart" width="800" height="600"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- Graph Performance -->
                                <div class="card card-350">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="mx-auto" style="position: relative;">
                                                <canvas id="totalBar-chart" width="800" height="450"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="images">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title table-title">Galeria</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-block">
                                            <div id="imgGalery" class="carousel slide" data-ride="carousel">

                                                <!-- Indicators -->
                                                <ul class="carousel-indicators">
                                                    <li data-target="#imgGalery" data-slide-to="0" class="active"></li>
                                                    <li data-target="#imgGalery" data-slide-to="1"></li>
                                                    <li data-target="#imgGalery" data-slide-to="2"></li>
                                                </ul>

                                                <!-- The slideshow -->
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img src="../img/galeria/pic1.jpg" alt="Foto #1" width="1100" height="500">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="../img/galeria/pic2.jpg" alt="Foto #2" width="1100" height="500">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="../img/galeria/pic3.jpg" alt="Foto #3" width="1100" height="500">
                                                    </div>
                                                </div>

                                                <!-- Left and right controls -->
                                                <a class="carousel-control-prev" href="#imgGalery" data-slide="prev">
                                                    <span class="carousel-control-prev-icon"></span>
                                                </a>
                                                <a class="carousel-control-next" href="#imgGalery" data-slide="next">
                                                    <span class="carousel-control-next-icon"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="rating">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title table-title">Avaliação</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media-list media-bordered">
                                                <div class="media">
                                                    <a class="media-left" href="profile-consultor.html">
                                                                <img class="media-object rounded-circle img-64" src="https://pixinvent.com/bootstrap-admin-template/robust/app-assets/images/portrait/small/avatar-s-7.png" alt="Generic placeholder image">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">
                                                            <a href="profile-consultor.html"> Augusto Martins</a>
                                                        </h4>
                                                        <div class="mb-1">
                                                            <p class="mr-2"><i class="ft-clock"></i> 10 days ago</p>
                                                            <p>
                                                                <div id="score-rating" style="cursor: pointer;"></div>
                                                            </p>
                                                        </div>
                                                        Oat cake topping oat cake jelly soufflé donut jelly-o tootsie roll. Candy sweet cake. Tiramisu cookie toffee donut. Chocolate pie croissant gummi bears muffin dessert chocolate.
                                                        <div class="media-notation mt-1">
                                                            <h6>Avaliação:<i class="font-large-1 success fa fa-smile-o ml-3"></i></h6>
                                                            <a href="#"> Ver mais... </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <a class="media-left" href="profile-consultor.html">
                                                        <img class="media-object rounded-circle img-64" src="https://pixinvent.com/bootstrap-admin-template/robust/app-assets/images/portrait/small/avatar-s-7.png" alt="Generic placeholder image">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">
                                                            <a href="profile-consultor.html"> Carlos Ribeiro</a>
                                                        </h4>
                                                        <div class="mb-1">
                                                            <p class="mr-2"><i class="ft-clock"></i> 8 days ago</p>
                                                            <p>
                                                                <div id="space-star" style="cursor: pointer;"></div>
                                                            </p>
                                                        </div>
                                                        Oat cake topping oat cake jelly soufflé donut jelly-o tootsie roll. Candy sweet cake. Tiramisu cookie toffee donut. Chocolate pie croissant gummi bears muffin dessert chocolate.
                                                        <div class="media-notation mt-1">
                                                            <h6>Avaliação:<i class="font-large-1 text-primary fa fa-info-circle ml-3"></i></h6>
                                                            <a href="#"> Ver mais... </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <a class="media-left" href="profile-consultor.html">
                                                        <img class="media-object rounded-circle img-64" src="https://pixinvent.com/bootstrap-admin-template/robust/app-assets/images/portrait/small/avatar-s-7.png" alt="Generic placeholder image">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">
                                                            <a href="profile-consultor.html"> André Ventura</a>
                                                        </h4>
                                                        <div class="mb-1">
                                                            <p class="mr-2"><i class="ft-clock"></i> 1 day ago</p>
                                                            <p>
                                                                <div id="read-only-stars" style="cursor: pointer;"></div>
                                                            </p>
                                                        </div>
                                                        Oat cake topping oat cake jelly soufflé donut jelly-o tootsie roll. Candy sweet cake. Tiramisu cookie toffee donut. Chocolate pie croissant gummi bears muffin dessert chocolate.
                                                        <div class="media-notation mt-1">
                                                            <h6>Avaliação:<i class="font-large-1 text-danger fa fa-frown-o ml-3"></i></h6>
                                                            <a href="#"> Ver mais... </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>








        </div>
      </div>
    </div>