<div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">O Meu Portfolio</h3> 
          </div>
          <div class="content-header-right col-md-4 col-12">
            <div class="btn-group float-md-right">
              <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-settings mr-1"></i>Action
              </button>
              <div class="dropdown-menu arrow">
                <a class="dropdown-item" href="#"><i class="fa fa-calendar mr-1"></i> Calender</a>
                <a class="dropdown-item" href="#"><i class="fa fa-cart-plus mr-1"></i> Cart</a>
                <a class="dropdown-item" href="#"><i class="fa fa-life-ring mr-1"></i> Support</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="fa fa-cog mr-1"></i> Settings</a>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body">
          <!-- // 1ª Linha -->

          <div class="row">
            <div class="col-lg-3">
            	<div class="text-center">
	                <div class="card no-border" style="">
	                    <div class="card-content margin-b">
	                        <div class="card-body">
	                            <div class="media">
	                                <div class="media-body">
	                                    <h1 class="display-5">$45,668</h1>
	                                    <span class="text-muted">Week Sales</span>
	                                </div>
	                                <div class="media-right media-middle">
	                                    <i class="ft-trending-up font-large-1 grey lighten-3"></i>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- <div class="size-100" style="height: 100px;"></div> -->
	                        <div id="sp-bar-total-cost">
	                        	<canvas width="180" height="80" style="display: inline-block; width: 180px; height: 80px; vertical-align: top;">
	                        	</canvas>
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
            <div class="col-lg-3">
            	<div class="text-center">
	                <div class="card no-border" style="">
	                    <div class="card-content margin-b">
	                        <div class="card-body">
	                            <div class="media">
	                                <div class="media-body">
	                                    <h1 class="display-5">$135,689</h1>
	                                    <span class="text-muted">Total Sales</span>
	                                </div>
	                                <div class="media-right media-middle">
	                                    <i class="ft-trending-up font-large-1 grey lighten-3"></i>
	                                </div>
	                            </div>
	                        </div>
	                        <!--
	                        <div class="size-100" style="height: 100px;"></div> -->
	                        <div id="sp-line-total-sales"><canvas width="359" height="100" style="display: inline-block; width: 359.125px; height: 100px; vertical-align: top;"></canvas></div>
	                    </div>
	                </div>
	            </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Ongoing Projects</h4>
                  <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <p class="m-0">Total ongoing projects: 4</p>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover mb-0">
                      <thead>
                        <tr>
                          <th>Oferta</th>
                          <th>Progress</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-truncate">ReactJS App</td>
                          <td class="valign-middle">
                            <div class="progress m-0" style="height: 7px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 88%" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-truncate">Fitness App</td>
                          <td class="valign-middle">
                            <div class="progress m-0" style="height: 7px;">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-truncate">SOU plugin</td>
                          <td class="valign-middle">
                            <div class="progress m-0" style="height: 7px;">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-truncate">Product UI</td>
                          <td class="valign-middle">
                            <div class="progress m-0" style="height: 7px;">
                              <div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-4">
              <div class="card">
                <div class="card-content">
                  <a href="../market/2">
                    <img class="card-img-myport" src="/img/imagens/img-market-modelo2.jpg" alt="Card image cap">
                  </a>
                  <div class="card-footer border-bottom-0 text-muted">
                    <!-- <span class="float-left">2 days ago</span> -->
                    <div class="float-left">
                      <span class="card-text font-medium-2 text-bold-600 card-business-name">Sonae SA
                      </span>
                    </div>
                    <span class="tags float-right">
                      <span class="badge badge-pill badge-success">Trespasse</span>
                    </span>
                  </div>
                </div>
                <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                  <span class="float-left"><h5 class="font-medium-1">€<span class="price">350.000</span></h5></span>
                  <span class="float-right primary">2 days left</span>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4">
              <div class="card">
                <div class="card-content">
                  <a href="../market/2">
                    <img class="card-img-myport" src="/img/imagens/img-market-modelo2.jpg" alt="Card image cap">
                  </a>
                  <div class="card-footer border-bottom-0 text-muted">
                    <!-- <span class="float-left">2 days ago</span> -->
                    <div class="float-left">
                      <span class="card-text font-medium-2 text-bold-600 card-business-name">Adubite Lda
                      </span>
                    </div>
                    <span class="tags float-right">
                      <span class="badge badge-pill badge-success">Quotas</span>
                    </span>
                  </div>
                </div>
                <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                  <span class="float-left"><h5 class="font-medium-1">€<span class="price">150.000</span></h5></span>
                  <span class="float-right primary">20 days left</span>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4">
              <div class="card">
                <div class="card-content">
                  <a href="../market/2">
                    <img class="card-img-myport" src="/img/imagens/img-market-modelo2.jpg" alt="Card image cap">
                  </a>
                  <div class="card-footer border-bottom-0 text-muted">
                    <!-- <span class="float-left">2 days ago</span> -->
                    <div class="float-left">
                      <span class="card-text font-medium-2 text-bold-600 card-business-name">
                        <a href="../market/2">Piratas SA </a>
                      </span>
                    </div>
                    <span class="tags float-right">
                      <span class="badge badge-pill badge-success">Aumento de Capital</span>
                    </span>
                  </div>
                </div>
                <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                  <span class="float-left"><h5 class="font-medium-1">€<span class="price">22.000</span></h5></span>
                  <span class="float-right primary">21 days left</span>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4">
              <div class="card">
                <div class="card-content">
                  <a href="../market/2">
                    <img class="card-img-myport" src="/img/imagens/img-market-modelo2.jpg" alt="Card image cap">
                  </a>
                  <div class="card-footer border-bottom-0 text-muted">
                    <!-- <span class="float-left">2 days ago</span> -->
                    <div class="float-left">
                      <span class="card-text font-medium-2 text-bold-600 card-business-name">Sapatel
                      </span>
                    </div>
                    <span class="tags float-right">
                      <span class="badge badge-pill badge-success">Trespasse</span>
                    </span>
                  </div>
                </div>
                <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                  <span class="float-left"><h5 class="font-medium-1">€<span class="price">33.500</span></h5></span>
                  <span class="float-right primary">22 days left</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card" style="height: 384px;">
                <div class="card-header">
                  <h4 class="card-title">Recent Invoices</h4>
                  <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-content">
                  <div class="table-responsive">
                    <table class="table table-hover mb-0">
                      <thead>
                        <tr>
                          <th>Invoice#</th>
                          <th>Customer Name</th>
                          <th>Status</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-truncate"><a href="#">1001</a></td>
                          <td class="text-truncate">Elizabeth W.</td>
                          <td class="text-truncate"><span class="badge badge-success">Paid</span></td>
                          <td class="text-truncate">$ 1200.00</td>
                        </tr>
                        <tr>
                          <td class="text-truncate"><a href="#">1012</a></td>
                          <td class="text-truncate">Andrew D.</td>
                          <td class="text-truncate"><span class="badge badge-success">Paid</span></td>
                          <td class="text-truncate">$ 152.00</td>
                        </tr>
                        <tr>
                          <td class="text-truncate"><a href="#">1401</a></td>
                          <td class="text-truncate">Megan S.</td>
                          <td class="text-truncate"><span class="badge badge-success">Paid</span></td>
                          <td class="text-truncate">$ 1450.00</td>
                        </tr>
                        <tr>
                          <td class="text-truncate"><a href="#">1112</a></td>
                          <td class="text-truncate">Doris R.</td>
                          <td class="text-truncate"><span class="badge badge-warning">Overdue</span></td>
                          <td class="text-truncate">$ 5685.00</td>
                        </tr>
                        <tr>
                          <td class="text-truncate"><a href="#">8101</a></td>
                          <td class="text-truncate">Walter R.</td>
                          <td class="text-truncate"><span class="badge badge-warning">Overdue</span></td>
                          <td class="text-truncate">$ 685.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header no-border-bottom">
                  <h4 class="card-title">Important Upcoming Tasks</h4>
                  <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-content">
                  <div id="daily-activity" class="table-responsive height-350 ps-container ps-theme-default ps-active-y" data-ps-id="51cc972d-f54d-5319-09e9-c6ccaeaff7ec">
                    <table class="table table-hover mb-0">
                      <thead>
                        <tr>
                          <th><div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="icheck-input-all" class="icheck-activity" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></th>
                          <th>Activity</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-truncate"><div class="icheckbox_square-blue checked" style="position: relative;"><input type="checkbox" id="icheck-input-1" class="icheck-activity" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                          <td class="text-truncate">Bricks Walking</td>
                          <td class="text-truncate"><span class="badge badge-success">Done</span></td>
                        </tr>
                        <tr>
                          <td class="text-truncate"><div class="icheckbox_square-blue checked" style="position: relative;"><input type="checkbox" id="icheck-input-2" class="icheck-activity" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                          <td class="text-truncate">Morning Exercise</td>
                          <td class="text-truncate"><span class="badge badge-success">Done</span></td>
                        </tr>
                        <tr>
                          <td class="text-truncate"><div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="icheck-input-3" class="icheck-activity" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                          <td class="text-truncate">Yoga</td>
                          <td class="text-truncate"><span class="badge badge-danger">Missed</span></td>
                        </tr>
                        <tr>
                          <td class="text-truncate"><div class="icheckbox_square-blue checked" style="position: relative;"><input type="checkbox" id="icheck-input-4" class="icheck-activity" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                          <td class="text-truncate">Gym</td>
                          <td class="text-truncate"><span class="badge badge-warning">Delayed</span></td>
                        </tr>
                        <tr>
                          <td class="text-truncate"><div class="icheckbox_square-blue checked" style="position: relative;"><input type="checkbox" id="icheck-input-5" class="icheck-activity" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                          <td class="text-truncate">Steam Bath</td>
                          <td class="text-truncate"><span class="badge badge-success">Done</span></td>
                        </tr>
                        <tr>
                          <td class="text-truncate"><div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="icheck-input-6" class="icheck-activity" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                          <td class="text-truncate">Meditation</td>
                          <td class="text-truncate"><span class="badge badge-danger">Missed</span></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 350px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 314px;"></div></div></div>
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>