<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">Apartamento T3 Santa Marta de Portuzelo</h1>
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
            <hr>
            <!-- Post Content -->
            <p class="small">Santa Marta de Portuzelo, Viana do Castelo, Viana do Castelo
                <br>Publicado às 10:10, 27 Fevereiro 2018
                <br> ID do anúncio: 549332247</p>
            <hr>
            <p>Comercializado por: EL Imobiliaria</p>
            <p>Licença AMI: 10855</p>
            <p>Apartamento T3 no centro de Santa Marta de Portuzelo, próximo ao centro de saúde e escola profissional, com todas
                as comodidades nas proximidades, pintura nova, em estado razoável de conservação, áreas muito generosas,
                3 frentes, duas varandas, fogão de sala, 2 WC, marquise/lavandaria, dispensa, lugar de garagem e logradouro.</p>
            <hr>
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
            <hr>
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
            <hr>
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
            <hr>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-lg-4">

            <!-- Price Widget -->
            <div class="card my-4">
                <h4 class="card-header">75000€</h4>
            </div>

            <!-- Categories Widget -->
            <div class="card my-1">
                <h5 class="card-header">Message</h5>
            </div>

            <!-- Side Widget -->
            <div class="card my-1">
                <h5 class="card-header">918455173</h5>
            </div>

            <div class="card my-1">
                <h5 class="card-header">Map</h5>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Item Two</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor
                        sit amet.</p>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->