<div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">Perfil Template 2.2 (Business)</h3>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-lg-12 border-info">
                        <div class="row match-height">
                                <div class="col-lg-6 bg-blue">
                                    
                                        <div class="card-header text-center">
                                            <div class="mb-0 mx-auto">
                                                <img class="rounded-circle" src="https://randomuser.me/api/portraits/women/50.jpg" alt="User Avatar" width="110">
                                            </div>
                                            <div class="mb-1">
                                                <span class="icon_conta_stdr"> <i class="fas fa-suitcase"></i><br> <h6 class="text_conta_stdr">STANDARD </h6></span>
                                            </div>
                                            <h4 class="mb-0 white">Valeria Manson</h4>
                                            <span class="text-muted d-block mb-4 white">Central Group Analyst</span>
                                            
                                            
                                            
                                            <ul class="list-inline clearfix mb-4">
                                                <li class="mr-3 white"><h2 class="block white">10</h2> Negócios</li>
                                                <li class="mr-3 white"><h2 class="block white">6</h2> Likes</li>
                                                <li class="white"><h2 class="block white">35</h2> Visualizações</li>
                                            </ul>
                                            <form class="form-horizontal" method="get" action="/user/add_contact/{{profile.accountNumber}}" novalidate>
                                            <button type="submit" class="btn btn-primary round box-shadow-1"><i class="fa fa-plus"></i> Adicionar Contacto</button>
                                            </form>
                                            
                                            
                                        </div>
                                        <div class="card-content">
                                            
                        				</div>
                        			
                                </div>
                                <div class="col-lg-6 bg-white">
                                    <div class="card-content">
                                        <div class="card-body">
                                                <ul class="nav nav-tabs nav-underline no-hover-bg">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="base-tab31" data-toggle="tab" aria-controls="tab31" href="#tab31" aria-expanded="true">Info</a>
                                                    </li>
                        							<li class="nav-item">
                        								<a class="nav-link" id="base-tab32" data-toggle="tab" aria-controls="tab32" href="#tab32" aria-expanded="false">Negócios</a>
                        							</li>
                        							<li class="nav-item">
                        								<a class="nav-link" id="base-tab33" data-toggle="tab" aria-controls="tab33" href="#tab33" aria-expanded="false">Contacto</a>
                        							</li>
                        							
                        						</ul>
                        					</div>
                                        <div class="tab-content px-1 pt-1">
        							<div role="tabpanel" class="tab-pane active" id="tab31" aria-expanded="true" aria-labelledby="base-tab31">
        								<div class="mt-3">
        								    <h4 class="form-section"><i class="fa fa-user"></i> Biografia</h4>
        								    <p>Oat cake marzipan cake lollipop caramels wafer pie jelly beans. Icing halvah chocolate cake carrot cake. Jelly beans carrot cake marshmallow gingerbread chocolate cake. Gummies cupcake croissant.</p>
        								</div>
        							</div>
        							<div class="tab-pane" id="tab32" aria-labelledby="base-tab32">
        								<div class="mt-3">
        								    <h4 class=""><i class="fa fa-certificate"></i> Negócios</h4>
        								    <div class="media-list media-bordered">
                							<div class="media">
                								<a class="media-left" href="#">
                									<img src="../../../app-assets/images/portrait/small/avatar-s-23.png" alt="Generic placeholder image" style="width: 64px;height: 64px;">
                								</a>
                								<div class="media-body">
                									<h4 class="media-heading">Card em Lista</h4>
                									Card - ver com e sem imagem -- Click Link para pagina negócios. Brownie fruitcake wafer bonbon gummi bears apple pie. Brownie lemon drops chocolate cake donut croissant cotton candy.
                								</div>
                							</div>
                							<div class="media">
                								<a class="media-left" href="#">
                									<img src="../../../app-assets/images/portrait/small/avatar-s-16.png" alt="Generic placeholder image" style="width: 64px;height: 64px;">
                								</a>
                								<div class="media-body">
                									<h4 class="media-heading">Tootsie roll dessert </h4>
                									Tootsie roll dessert tart candy canes ice cream gingerbread cookie. Jelly jelly-o bear claw bear claw halvah. Biscuit icing pastry tootsie roll gingerbread croissant chupa chups. 
                								</div>
                							</div>
                							<div class="media">
                								<a class="media-left" href="#">
                									<img src="../../../app-assets/images/portrait/small/avatar-s-15.png" alt="Generic placeholder image" style="width: 64px;height: 64px;">
                								</a>
                								<div class="media-body">
                									<h4 class="media-heading">Lemon drops ice cream</h4>
                									Lemon drops ice cream chocolate cake marzipan ice cream. Gummi bears cotton candy cheesecake tootsie roll. Candy sweet cake. Tiramisu cookie toffee donut.
                								</div>
                							</div>
                						</div>
                						</div>
        							</div>
        							<div class="tab-pane" id="tab33" aria-labelledby="base-tab33">
        								<div class="mt-3">
        								    <form class="form">
                							<div class="form-body">
                								<h4 class="form-section"><i class="fa fa-envelope"></i> Contato</h4>
                								
                								<div class="form-group">
        											<label for="userinput1">Assunto</label>
        											<input type="text" id="userinput1" class="form-control border-primary" placeholder="Assunto" name="assunto">
        										</div>
        										<div class="form-group">
        											<label for="userinput2">Cod. Ref. da Proposta</label>
        											<input type="text" id="userinput2" class="form-control border-primary" placeholder="Ref. Proposta" name="ref_proposta">
        										</div>
                
                								<div class="form-group">
                									<label for="userinput8">Mensagem</label>
                									<textarea id="userinput8" rows="5" class="form-control border-primary" name="bio" placeholder="Mensagem"></textarea>
                								</div>
                
                							</div>
                
                							<div class="form-actions right">
                								<button type="button" class="btn btn-success round box-shadow-1">
                								    <i class="fa fa-envelope-o"></i> Enviar Mensagem
                								</button>
                							</div>
                						</form>
                						</div>
        							</div>
        						</div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
                <!--fitness stats-->

                <!-- activity charts -->
                <div class="row match-height">
                    <div class="col-xl-6 col-lg-12">
                    </div>
                    <div class="col-xl-6 col-lg-12">
                    </div>

                </div>
                <!-- activity charts -->
                <div class="row match-height">

                </div>
            </div>
        </div>
    </div>