<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Recomendacoes v3.0</h3>
            </div>
        </div>

        <div class="content-body">
            <!-- Search form-->
            <section id="search-website" class="card overflow-hidden">
                <div class="card-header">
                    <h4 class="card-title">Website search results</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>

            </section>
        </div>
        <!--
            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-img-rec float-left">
                                    <img class="img-rec" src="https://img01-olxpt.akamaized.net/img-olxpt/937090630_1_261x203_trespasse-loures.jpg" alt="Card image cap">
                                </div>
                                <div class="card-body-rec">
                                    <div class="card-footer border-bottom-0 text-muted">
                                        <div class="float-left">
                                            <span class="card-text text-center font-medium-4 text-bold-600 card-business-name">Sonae SA                                                     </span >
                                        </div>
                                        <span class="tags float-right">
                                            <span class="badge badge-pill badge-success">Trespasse</span>
                                            </span>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                <span class="card-type-region"><strong>Região: </strong>
                                                <span class="text-muted"> Alentejo</span>
                                                </span>
                                                <span class="card-type-activ">Sector Actividade: </span>
                                                <span class="text-muted"> Serviços</span>
                                            </p>
                                            <div class="float-right">
                                                <h5 class="font-large-2">€<span class="card-price">50.000</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                                    <span class="float-left">2 days ago</span>
                                    <span class="float-right primary">
                                    <a href="#" class="card-link">
                                        <button type="button" class="btn btn-info btn-min-width mr-1 mb-1">Ver Mais <i class="ft-eye"></i></button>
                                    </a>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
        <div class="content-body">
            <div class="row justify-content-md-center">
                <div class="col">
                    <div class="card-content">
                        <div class="card">
                            <div class="table-responsive table-recomendacoes">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="text-center tab-rec-name">Nome</th>
                                            <th class="text-center tab-rec-negocio">Tipo de Negócio</th>
                                            <th class="text-center tab-rec-timeleft">Tempo Restante</th>
                                            <th class="text-center tab-rec-price">Valor</th>
                                            <th class="text-center tab-rec-aval">Avaliação</th>
                                            <th class="tab-rec-btn">
                                                <th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <!-- coluna 1 logotipo & Nome -->
                                            <td class="tab-rec-name">
                                                <div class="d-flex align-items-center">
                                                    <div class="mr-3 tab-rec-logo">
                                                        <div class="rec-logo">
                                                            <img class="img-rec" src="http://www.moretextilegroup.com/wp-content/uploads/2017/03/logo-contactos-jma.png" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div class="tab-rec-listprop">
                                                        <div class="tab-rec-listprop-name">
                                                            <a href="#" class="text-default font-weight-semibold letter-icon-title">Têxteis Penedo, S.A.</a>
                                                        </div>
                                                        <div class="tab-rec-listprop-reviewtext-muted font-size-sm">
                                                            <i class="fa fa-check" aria-hidden="true"></i> Vale & Azevedo Advogados
                                                        </div>
                                                        <div class="tab-rec-listprop-negoc">
                                                            <span class="badge badge-secondary">Fusão</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <!-- coluna 2 Categorias -->
                                            <td class="tab-rec-negocio">
                                                <div class="t-categories text-center">
                                                    <span class="badge badge-secondary">Fusão</span>
                                                </div>
                                            </td>
                                            <!-- coluna 3 Tempo restante -->
                                            <td class="text-center tab-rec-timeleft">
                                                <span class="text-muted font-size-sm">2 dias</span>
                                            </td>
                                            <!-- coluna 4 Valor -->
                                            <td class="tab-rec-price">
                                                <h6 class="font-weight-semibold mb-0">€1.490.000</h6>
                                            </td>
                                            <!-- coluna 5 Avaliação -->
                                            <td class="tab-rec-aval align-middle center">
                                                <div class="round text-center">
                                                    <i class="font-large-1 success fa fa-smile-o"></i>
                                                </div>
                                            </td>
                                            <!-- coluna 6 Button -->
                                            <td class="tab-rec-btn">
                                                <!--
                  <div class="btn-group mr-1 mb-1">
                  <button type="button" class="btn btn-outline-info btn-min-width dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ver Mais</button>
                  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="#">Ver Oferta</a>
                    <a class="dropdown-item" href="#">Ver Consultor</a>
                    <a class="dropdown-item" href="#">Pedir Avaliação</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Adicionar ao meu Portfolio</a>
                  </div>
                </div>
                  -->
                                                <div class="btn-group mr-1 mb-1">
                                                    <button type="button" class="btn btn-info btn-icon dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-eye"></i>
                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="../market/2">Ver Oferta</a>
                                                        <a class="dropdown-item" href="../profile-consultor.html">Ver Consultor</a>
                                                        <a class="dropdown-item" href="#">Pedir Avaliação</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Adicionar ao meu Portfolio</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Fim da 1ª linha -->
                                        <tr>
                                            <!-- col1 -->
                                            <td class="tab-rec-name">
                                                <div class="d-flex align-items-center">
                                                    <div class="mr-3 tab-rec-logo">
                                                        <div class="rec-logo">
                                                            <img class="img-rec" src="https://thedesignlove.com/wp-content/uploads/2018/10/376-Beer-Mug-Logo-Template-350x323.jpg" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div class="tab-rec-listprop">
                                                        <div class="tab-rec-listprop-name">
                                                            <a href="#" class="text-default font-weight-semibold letter-icon-title">Alpha Beers</a>
                                                        </div>
                                                        <div class="tab-rec-listprop-review text-muted font-size-sm">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i> Esperando Avaliação
                                                        </div>
                                                        <div class="tab-rec-listprop-negoc">
                                                            <span class="badge badge-secondary">Aumento de Capital</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <!-- col2 -->
                                            <td class="tab-rec-negocio">
                                                <div class="t-categories text-center">
                                                    <span class="badge badge-secondary">Aumento de Capital</span>
                                                </div>
                                            </td>
                                            <!-- col3 -->
                                            <td class="text-center tab-rec-timeleft">
                                                <span class="text-muted font-size-sm">último dia</span>
                                            </td>
                                            <!-- col4 -->
                                            <td class="tab-rec-price">
                                                <h6 class="font-weight-semibold mb-0">€3.900.000</h6>
                                            </td>
                                            <td class="tab-rec-aval align-middle center">
                                                <div class="round text-center">
                                                    <i class="font-large-1 text-primary fa fa-info-circle"></i>
                                                </div>
                                            </td>
                                            <td class="tab-rec-btn">
                                                <div class="btn-group mr-1 mb-1">
                                                    <button type="button" class="btn btn-info btn-icon dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-eye"></i>
                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="../market/2">Ver Oferta</a>
                                                        <a class="dropdown-item" href="../profile-consultor.html">Ver Consultor</a>
                                                        <a class="dropdown-item" href="#">Pedir Avaliação</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Adicionar ao meu Portfolio</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <!-- col1 -->
                                            <td class="tab-rec-name">
                                                <div class="d-flex align-items-center">
                                                    <div class="mr-3 tab-rec-logo">
                                                        <a href="#">
                                                            <div class="rec-logo">
                                                                <img class="img-rec" src="https://thedesignlove.com/wp-content/uploads/2018/03/311-Pig-Farm-Logo-Template-350x323.jpg" alt="Card image cap">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="tab-rec-listprop">
                                                        <div class="tab-rec-listprop-name">
                                                            <a href="#" class="text-default font-weight-semibold letter-icon-title">Porcos & Companhia,Lda</a>
                                                        </div>
                                                        <div class="tab-rec-listprop-review text-muted font-size-sm">
                                                            <i class="fa fa-check" aria-hidden="true"></i> Consultores Muito Frente, S.A.
                                                        </div>
                                                        <div class="tab-rec-listprop-negoc">
                                                            <span class="badge badge-secondary">Trespasse</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <!-- col2 -->
                                            <td class="tab-rec-negocio">
                                                <div class="t-categories text-center">
                                                    <span class="badge badge-secondary">Trespasse</span>
                                                </div>
                                            </td>
                                            <!-- col3 -->
                                            <td class="text-center tab-rec-timeleft">
                                                <span class="text-muted font-size-sm">5 dias</span>
                                            </td>
                                            <!-- col4 -->
                                            <td class="tab-rec-price">
                                                <h6 class="font-weight-semibold mb-0">€6.000.000</h6>
                                            </td>
                                            <td class="tab-rec-aval align-middle center">
                                                <div class="round text-center">
                                                    <i class="font-large-1 text-danger fa fa-frown-o"></i>
                                                </div>
                                            </td>
                                            <td class="tab-rec-btn">
                                                <div class="btn-group mr-1 mb-1">
                                                    <button type="button" class="btn btn-info btn-icon dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-eye"></i>
                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="../market/2">Ver Oferta</a>
                                                        <a class="dropdown-item" href="../profile-consultor.html">Ver Consultor</a>
                                                        <a class="dropdown-item" href="#">Pedir Avaliação</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Adicionar ao meu Portfolio</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- -->
                                        <tr>
                                            <!-- col1 -->
                                            <td class="tab-rec-name">
                                                <div class="d-flex align-items-center">
                                                    <div class="mr-3 tab-rec-logo">
                                                        <div class="rec-logo">
                                                            <img class="img-rec" src="http://www.nossomicro.com.br/blog/wp-content/uploads/2018/05/Luletas-Amarelo-1024x705.jpg" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div class="tab-rec-listprop">
                                                        <div class="tab-rec-listprop-name">
                                                            <a href="#" class="text-default font-weight-semibold letter-icon-title">Luletas Pastelaria</a>
                                                        </div>
                                                        <div class="tab-rec-listprop-review text-muted font-size-sm">
                                                            <i class="fa fa-check" aria-hidden="true"></i> Tio Bob o Consultor
                                                        </div>
                                                        <div class="tab-rec-listprop-negoc">
                                                            <span class="badge badge-secondary">Fusão</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <!-- col2 -->
                                            <td class="tab-rec-negocio">
                                                <div class="t-categories text-center">
                                                    <span class="badge badge-secondary">Fusão</span>
                                                </div>
                                            </td>
                                            <!-- col3 -->
                                            <td class="text-center tab-rec-timeleft">
                                                <span class="text-muted font-size-sm">4 dias</span>
                                            </td>
                                            <!-- col4 -->
                                            <td class="tab-rec-price">
                                                <h6 class="font-weight-semibold mb-0">€5.500.000</h6>
                                            </td>
                                            <!-- col5 -->
                                            <td class="tab-rec-aval align-middle center">
                                                <div class="round text-center">
                                                    <i class="font-large-1 text-warning fa fa-meh-o"></i>
                                                </div>
                                            </td>
                                            <!-- col6 -->
                                            <td class="tab-rec-btn">
                                                <div class="btn-group mr-1 mb-1">
                                                    <button type="button" class="btn btn-info btn-icon dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-eye"></i>
                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="../market/2">Ver Oferta</a>
                                                        <a class="dropdown-item" href="../profile-consultor.html">Ver Consultor</a>
                                                        <a class="dropdown-item" href="#">Pedir Avaliação</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Adicionar ao meu Portfolio</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <!-- col1 -->
                                            <td class="tab-rec-name">
                                                <div class="d-flex align-items-center">
                                                    <div class="mr-3 tab-rec-logo">
                                                        <div class="rec-logo">
                                                            <img class="img-rec" src="https://eternaestetica.com.br/wp-content/uploads/2015/10/logo-face.jpg" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <a href="#" class="text-default font-weight-semibold letter-icon-title">Pop Clinica Estética</a>
                                                        <div class="text-muted font-size-sm">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i> Waiting Review
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <!-- col2 -->
                                            <td class="tab-rec-negocio">
                                                <div class="t-categories text-center">
                                                    <span class="badge badge-secondary">Crédito</span>
                                                </div>
                                            </td>
                                            <!-- col3 -->
                                            <td class="text-center tab-rec-timeleft">
                                                <span class="text-muted font-size-sm">7 dias</span>
                                            </td>
                                            <!-- col4 -->
                                            <td class="tab-rec-price">
                                                <h6 class="font-weight-semibold mb-0">€120.500</h6>
                                            </td>
                                            <!-- col5 -->
                                            <td class="tab-rec-aval align-middle center">
                                                <div class="round text-center">
                                                    <i class="font-large-1 text-primary fa fa-info-circle"></i>
                                                </div>
                                            </td>
                                            <!-- col6 -->
                                            <td class="tab-rec-btn">
                                                <div class="btn-group mr-1 mb-1">
                                                    <button type="button" class="btn btn-info btn-icon dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-eye"></i>
                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="../market/2">Ver Oferta</a>
                                                        <a class="dropdown-item" href="../profile-consultor.html">Ver Consultor</a>
                                                        <a class="dropdown-item" href="#">Pedir Avaliação</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Adicionar ao meu Portfolio</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // fim 3ª linha -->
            <!-- 1ª Linha -->




        </div>

    </div>
</div>
