    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">Upgrade de Conta</h3>
                </div>
            </div>
            <div class="content-body">
                <!-- Bootstrap pricing -->
                <section id="social-cards">
                    <div class="row mt-2">
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card profile-card-with-cover">
                                <div class="card-content card-deck text-center">
                                    <div class="card box-shadow">
                                        <div class="card-header pb-0">
                                            <span class="icon_conta_free"> <i class="fas fa-hand-holding-usd"></i></span>
                                            <h2 class="my-0 font-weight-bold">Free</h2>
                                            
                                        </div>
                                        <div class="card-body">
                                            <h1 class="pricing-card-title">0€
                                                <small class="text-muted">/ mês</small>
                                            </h1>
                                            <ul class="list-unstyled mt-2 mb-2">
                                                <li>10 users included</li>
                                                <li>2 GB of storage</li>
                                                <li>Email support</li>
                                                <li>Help center access</li>
                                            </ul>
                                            <button type="button" class="btn btn-lg btn-block btn-outline-info">Sign up for free</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card profile-card-with-cover">
                                <div class="card-content card-deck text-center">
                                    <div class="card box-shadow">
                                        <div class="card-header pb-0">
                                            <span class="icon_conta_stdr"><i class="fas fa-briefcase"></i></span>
                                            <h2 class="my-0 font-weight-bold">Standard</h2>
                                            
                                        </div>
                                        <div class="card-body">
                                            <h1 class="pricing-card-title">€150
                                                <small class="text-muted">/ mês</small>
                                            </h1>
                                            <ul class="list-unstyled mt-2 mb-2">
                                                <li>20 users included</li>
                                                <li>10 GB of storage</li>
                                                <li>Email support</li>
                                                <li>Help center access</li>
                                            </ul>
                                            <button type="button" class="btn btn-lg btn-block btn-info">Get started</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card profile-card-with-cover">
                                <div class="card-content card-deck text-center">
                                    <div class="card box-shadow">
                                        <div class="card-header pb-0">
                                            <span class="icon_conta_premium"><i class="fas fa-trophy"></i></span>
                                            <h2 class="my-0 font-weight-bold">Premium</h2>
                                        </div>
                                        <div class="card-body">
                                            <h1 class="pricing-card-title">300€
                                                <small class="text-muted">/ mês</small>
                                            </h1>
                                            <ul class="list-unstyled mt-2 mb-2">
                                                <li>30 users included</li>
                                                <li>15 GB of storage</li>
                                                <li>Email support</li>
                                                <li>Help center access</li>
                                            </ul>
                                            <button type="button" class="btn btn-lg btn-block btn-info">Contact us</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <img class="price-img center" src="../landing/assets/img/payment.png" alt="">
                    </div>
                </section>
                <!-- // Bootstrap pricing section end -->

            </div>
        </div>
    </div>