<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col bg-warning">
                        <div class="row">
                            <div class="col-lg-6">
                                1- 1/2
                                <div class="card">
                                    <div class="text-center">
                                        <div class="card-body">
                                            <img src="/dist/app-assets/images/portrait/medium/avatar-m-1.png" class="rounded-circle  height-150" alt="Card image">
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">Joseph Ryan</h3>
                                            <h6 class="card-subtitle text-muted">Marketing Head</h6>
                                        </div>
                                        <div class="text-center">
                                            <a href="#"><span class="ft-activity"></span></a>
                                            <a href="#"><span class="ft-activity"></span></a>
                                            <a href="#"><span class="ft-activity font-medium-4"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <!--end card -->
                            </div>
                            <div class="col-lg-6">
                                1- 2/2
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Special</h4>
                                        <div class="heading-elements">
                                            <ul class="list-inline mb-0">
                                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-content" aria-expanded="true">
                                        <div class="card-body">
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span class="text-muted">ABCD</span>
                                    </div>
                                </div>
                                <!-- // fim card -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                1 of 1
                            </div>
                        </div>
                        <!-- // fim row -->
                    </div>
                    <div class="col bg-cyan">
                        2 of 2
                        <div class="card-content">
                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body text-center">
                                                <h1 class="display-4">
                                                    <i class="icon-rocket font-large-3"></i>
                                                </h1>
                                                <span class="text-red">Mudar para Premium</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body text-center">
                                                <h1 class="display-4">
                                                    <i class="icon-bulb font-large-2"></i>
                                                </h1>
                                                <span class="text-red">Pedir Consultoria</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body text-center">
                                                <h1 class="display-4">
                                                    <i class="icon-bubbles font-large-3"></i>
                                                </h1>
                                                <span class="text-red">Ver Negócios Disponíveis</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- close card-deck -->
                            </div>
                            <!-- close deck.wrapper -->
                        </div>
                        <div class="card-content">
                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body text-center">
                                                <h1 class="display-4">
                                                    <i class="icon-rocket font-large-2"></i>
                                                </h1>
                                                <span class="text-red">Lista de Contactos</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body text-center">
                                                <h1 class="display-4">
                                                    <i class="icon-bulb font-large-2"></i>
                                                </h1>
                                                <span class="text-red">Propor um Negócio</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body text-center">
                                                <h1 class="display-4">
                                                    <i class="icon-credit-card font-large-3"></i>
                                                </h1>
                                                <span class="text-red">As Minhas Negociações</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- close card-deck -->
                            </div>
                            <!-- close deck.wrapper -->
                        </div>
                        <!-- close card-content -->
                        <div class="card-content">
                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card">
                                        <div class="card-content">
                                            <img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/05.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">Card title</h4>
                                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-content">
                                            <img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/09.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">Card title</h4>
                                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-content">
                                            <img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/02.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">Card title</h4>
                                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card: Lista de contactos -->
                        <div class="card">
                            <div class="card-header mb-0">
                                <h4 class="card-title">Lista de contactos</h4>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-plus"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show" style="">
                                <div class="card-body  py-0 px-0">
                                    <div class="list-group">
                                        <a href="javascript:void(0)" class="list-group-item">
                                            <div class="media">
                                                <div class="media-left pr-1"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></span></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading mb-0">Margaret Govan</h6>
                                                    <p class="font-small-2 mb-0">QA Analyst</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0)" class="list-group-item">
                                            <div class="media">
                                                <div class="media-left pr-1"><span class="avatar avatar-sm avatar-busy rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-2.png" alt="avatar"><i></i></span></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading mb-0">Bret Lezama</h6>
                                                    <p class="font-small-2 mb-0">QA Person</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0)" class="list-group-item">
                                            <div class="media">
                                                <div class="media-left pr-1"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-3.png" alt="avatar"><i></i></span></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading mb-0">Carie Berra</h6>
                                                    <p class="font-small-2 mb-0">QA Manager</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0)" class="list-group-item">
                                            <div class="media">
                                                <div class="media-left pr-1"><span class="avatar avatar-sm avatar-away rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-6.png" alt="avatar"><i></i></span></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading mb-0">Eric Alsobrook</h6>
                                                    <p class="font-small-2 mb-0">QA Lead</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0)" class="list-group-item">
                                            <div class="media">
                                                <div class="media-left pr-1"><span class="avatar avatar-sm avatar-away rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-8.png" alt="avatar"><i></i></span></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading mb-0">John Alsobrook</h6>
                                                    <p class="font-small-2 mb-0">QA Person</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Fim Card: Lista de contactos -->
                        <!-- Card example - Specialy -->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Specialy</h4>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content" aria-expanded="true">
                                <div class="card-body">
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <span class="text-muted">ABCD</span>
                            </div>
                        </div>
                        <!-- /Fim Card example - Specialy -->
                        <!-- Card Tabela -->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Striped rows</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <p class="card-text">Use <code class="highlighter-rouge">.table-striped</code> to add zebra-striping to any table row within the <code class="highlighter-rouge">&lt;tbody&gt;</code>. This styling doesn't work in IE8 and below as <code>:nth-child</code> CSS selector isn't supported.</p>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Username</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- //Fim Card Tabela -->
                        <!-- -->
                        <!-- //  -->
                        <!-- fim col cyan-->
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Ongoing Projects</h4>
                                    <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <p class="m-0">Total ongoing projects 6<span class="float-right"><a href="project-summary.html" target="_blank">Project Summary <i class="ft-arrow-right"></i></a></span></p>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Project</th>
                                                    <th>Owner</th>
                                                    <th>Priority</th>
                                                    <th>Progress</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-truncate">ReactJS App</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-4.png" alt="avatar"></span> <span>Sarah W.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-success">Low</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 88%" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-truncate">Fitness App</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-5.png" alt="avatar"></span> <span>Edward C.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-warning">Medium</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-truncate">SOU plugin</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-6.png" alt="avatar"></span> <span>Carol E.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-danger">Critical</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-truncate">Android App</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-7.png" alt="avatar"></span> <span>Gregory L.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-success">Low</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-truncate">ABC Inc. UI/UX</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-8.png" alt="avatar"></span> <span>Susan S.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-warning">Medium</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-truncate">Product UI</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-9.png" alt="avatar"></span> <span>Walter K.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-danger">Critical</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-content bg-success">
                                    <div class="card-body sales-growth-chart">
                                        <div id="completed-project" class="height-250" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                            <svg height="250" version="1.1" width="317.125" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.0625px; top: -0.515625px;">
                                                <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc>
                                                <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                                <text x="42.84375" y="183.11439601237498" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                                                    <tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                                                </text>
                                                <path fill="none" stroke="#ffffff" d="M55.34375,183.11439601237498H292.125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                                <text x="42.84375" y="130.40959734158332" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                                                    <tspan dy="4.003347341583321" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">1,000</tspan>
                                                </text>
                                                <path fill="none" stroke="#ffffff" d="M55.34375,130.40959734158332H292.125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                                <text x="42.84375" y="77.70479867079166" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                                                    <tspan dy="4.001673670791661" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2,000</tspan>
                                                </text>
                                                <path fill="none" stroke="#ffffff" d="M55.34375,77.70479867079166H292.125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                                <text x="42.84375" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">3,000</tspan>
                                                </text>
                                                <path fill="none" stroke="#ffffff" d="M55.34375,25H292.125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                                <text x="268.446875" y="195.61439601237498" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-74.2402,202.7237)">
                                                    <tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">SEO</tspan>
                                                </text>
                                                <text x="221.090625" y="195.61439601237498" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-79.3566,173.2652)">
                                                    <tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">UX</tspan>
                                                </text>
                                                <text x="173.734375" y="195.61439601237498" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-91.1101,147.6335)">
                                                    <tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">APP</tspan>
                                                </text>
                                                <text x="126.378125" y="195.61439601237498" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-99.9638,120.7919)">
                                                    <tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Web</tspan>
                                                </text>
                                                <text x="79.021875" y="195.61439601237498" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-102.822,89.8726)">
                                                    <tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">UI</tspan>
                                                </text>
                                                <rect x="71.91843750000001" y="86.40109045147229" width="14.206875" height="96.7133055609027" rx="0" ry="0" fill="#ffffff" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                                <rect x="119.2746875" y="58.941890343989826" width="14.206875" height="124.17250566838516" rx="0" ry="0" fill="#ffffff" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                                <rect x="166.63093750000002" y="106.21809475168995" width="14.206875" height="76.89630126068504" rx="0" ry="0" fill="#ffffff" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                                <rect x="213.98718750000003" y="115.17791052572453" width="14.206875" height="67.93648548665045" rx="0" ry="0" fill="#ffffff" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                                <rect x="261.3434375" y="96.30959260158112" width="14.206875" height="86.80480341079387" rx="0" ry="0" fill="#ffffff" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                            </svg>
                                            <div class="morris-hover morris-default-style" style="left: 32.6625px; top: 93px; display: none;">
                                                <div class="morris-hover-row-label">UI</div>
                                                <div class="morris-hover-point" style="color: #FFF">
                                                    Sales: 1,835
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="chart-title">
                                        <span class="text-muted">Total completed project and earning.</span>
                                    </div>
                                    <ul class="list-inline text-center clearfix mt-2 mb-0">
                                        <li class="border-right-grey border-right-lighten-2 pr-1"><span class="text-muted">Completed Projects</span>
                                            <h3 class="block">250</h3>
                                        </li>
                                        <li class="pl-2"><span class="text-muted">Total Earnings</span>
                                            <h3 class="block">64.54 M</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // fim cenas -->
            </div>
        </div>
        <br />
        <br />
    </div>
</div>