<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">

        	 <div class="container">
        	 	<div class="row">
        	 		<div class="col bg-warning">
        	 			
        	 			<div class="row">
	        	 			<div class="col-lg-6">
	        	 				1- 1/2
	        	 				<!--
	        	 				<div class="card">
	        	 					<div class="card-header">
	        	 						<h4 class="card-title">Special</h4>
	        	 						<div class="heading-elements">
	        	 							<ul class="list-inline mb-0">                             
	        	 								<li><a data-action="close"><i class="ft-x"></i></a></li>
	        	 							</ul>
	        	 						</div>
	        	 					</div>
	        	 					<div class="card-content" aria-expanded="true">
	        	 						<div class="card-body">
	        	 							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	 							<a href="#" class="btn btn-primary">Go somewhere</a>
	        	 						</div>
	        	 					</div>
	        	 					<div class="card-footer">
	        	 						<span class="text-muted">ABCD</span>
	        	 					</div>
	        	 				</div>
	        	 			-->


								<!--  -->
	        	 				<div class="card">
	        	 					<div class="text-center">
	        	 						<div class="card-body">
	        	 							<img src="/dist/app-assets/images/portrait/medium/avatar-m-1.png" class="rounded-circle  height-150" alt="Card image">
	        	 						</div>
	        	 						<div class="card-body">
	        	 							<h3 class="card-title">Joseph Ryan</h3>
	        	 							<h6 class="card-subtitle text-muted">Marketing Head</h6>
	        	 						</div>
	        	 						<div class="text-center">
	        	 							<a href="#"><span class="ft-activity"></span></a>
	        	 							<a href="#"><span class="ft-activity"></span></a>
	        	 							<a href="#"><span class="ft-activity font-medium-4"></span></a>
	        	 						</div>
	        	 					</div>
	        	 				</div>
	        	 				<!--end card -->


	        	 			</div>
	        	 			<div class="col-lg-6">
	        	 				1- 2/2
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Special</h4>
                                        <div class="heading-elements">
                                            <ul class="list-inline mb-0">                             
                                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-content" aria-expanded="true">
                                        <div class="card-body">
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span class="text-muted">ABCD</span>
                                    </div>
                                </div>
                                <!-- // fim card -->
	        	 			</div>

        	 			</div>

        	 			<div class="row">
        	 				<div class="col-lg-12">
        	 					1 of 1
        	 					
                                <!-- Card Grafico -->
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body text-center">
                                            <div class="card-header mb-2">
                                                <span class="success darken-1">Total Budget</span>
                                                <h3 class="font-large-2 grey darken-1 text-bold-200">$24,879</h3>
                                            </div>
                                            <div class="card-content">
                                                <div style="display:inline;width:150px;height:150px;"><canvas width="150" height="150"></canvas><input type="text" value="75" class="knob hide-value responsive angle-offset" data-angleoffset="0" data-thickness=".15" data-linecap="round" data-width="150" data-height="150" data-inputcolor="#e1e1e1" data-readonly="true" data-fgcolor="#37BC9B" data-knob-icon="ft-trending-up" readonly="readonly" style="width: 79px; height: 50px; position: absolute; vertical-align: middle; margin-top: 50px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 30px; line-height: normal; font-family: Arial; text-align: center; color: rgb(225, 225, 225); padding: 0px; -webkit-appearance: none; margin-left: -114px; display: none;"><i class="knob-center-icon ft-trending-up" style="width: 79px; height: 50px; position: absolute; vertical-align: middle; margin-top: 50px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 30px; line-height: normal; font-family: Arial; text-align: center; color: rgb(225, 225, 225); padding: 0px; -webkit-appearance: none; margin-left: -114px;font-size: 50px;"></i></div>
                                                <ul class="list-inline clearfix mt-2 mb-0">
                                                    <li class="border-right-grey border-right-lighten-2 pr-2">
                                                        <h2 class="grey darken-1 text-bold-400">75%</h2>
                                                        <span class="success">Completed</span>
                                                    </li>
                                                    <li class="pl-2">
                                                        <h2 class="grey darken-1 text-bold-400">25%</h2>
                                                        <span class="danger">Remaining</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Fim Card: grafico -->
        	 				</div>


                        <!-- // fim row -->
        	 			</div>


        	 		</div>
        	 		<div class="col bg-cyan">
        	 			2 of 2




        	 			<div class="card-content">
        	 				<div class="card-deck-wrapper">
        	 					<div class="card-deck">
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-rocket font-large-3"></i>
        	 									</h1>
        	 									<span class="text-red">Mudar para Premium</span>
        	 								</div>
        	 							</div>
        	 						</div>
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-bulb font-large-2"></i>
        	 									</h1>
        	 									<span class="text-red">Pedir Consultoria</span>
        	 								</div>
        	 							</div>
        	 						</div> 
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-bubbles font-large-3"></i>
        	 									</h1>
        	 									<span class="text-red">Ver Negócios Disponíveis</span>
        	 								</div>
        	 							</div>
        	 						</div>
        	 					</div> <!-- close card-deck -->	
        	 				</div>  <!-- close deck.wrapper -->
        	 			</div>
        	 			<div class="card-content">
        	 				<div class="card-deck-wrapper">
        	 					<div class="card-deck">
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-rocket font-large-2"></i>
        	 									</h1>
        	 									<span class="text-red">Lista de Contactos</span>
        	 								</div>
        	 							</div>
        	 						</div>
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-bulb font-large-2"></i>
        	 									</h1>
        	 									<span class="text-red">Propor um Negócio</span>
        	 								</div>
        	 							</div>
        	 						</div> 
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-credit-card font-large-3"></i>
        	 									</h1>
        	 									<span class="text-red">As Minhas Negociações</span>
        	 								</div>
        	 							</div>
        	 						</div>
        	 					</div> <!-- close card-deck -->	
        	 				</div>  <!-- close deck.wrapper -->
        	 			</div> <!-- close card-content -->


        	 			<div class="card-content">
        	 				<div class="card-deck-wrapper">
        	 					<div class="card-deck">
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/05.jpg" alt="Card image cap">
        	 								<div class="card-body">
        	 									<h4 class="card-title">Card title</h4>
        	 									<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        	 									<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        	 								</div>
        	 							</div>
        	 						</div>
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/09.jpg" alt="Card image cap">
        	 								<div class="card-body">
        	 									<h4 class="card-title">Card title</h4>
        	 									<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        	 									<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        	 								</div>
        	 							</div>
        	 						</div>
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/02.jpg" alt="Card image cap">
        	 								<div class="card-body">
        	 									<h4 class="card-title">Card title</h4>
        	 									<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        	 									<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        	 								</div>
        	 							</div>
        	 						</div>

        	 					</div>
        	 				</div>
        	 			</div>

        	 			<!-- Card: Lista de contactos -->

        	 			<div class="card">
        	 				<div class="card-header mb-0">
        	 					<h4 class="card-title">Lista de contactos</h4>
        	 					<a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
        	 					<div class="heading-elements">
        	 						<ul class="list-inline mb-0">
        	 							<li><a data-action="collapse"><i class="ft-plus"></i></a></li>
        	 							<li><a data-action="close"><i class="ft-x"></i></a></li>
        	 						</ul>
        	 					</div>
        	 				</div>
        	 				<div class="card-content collapse show" style="">
        	 					<div class="card-body  py-0 px-0">
        	 						<div class="list-group">
        	 							<a href="javascript:void(0)" class="list-group-item">
        	 								<div class="media">
        	 									<div class="media-left pr-1"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="app-assets/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></span></div>
        	 									<div class="media-body">
        	 										<h6 class="media-heading mb-0">Margaret Govan</h6>
        	 										<p class="font-small-2 mb-0">QA Analyst</p>
        	 									</div>
        	 								</div>
        	 							</a>
        	 							<a href="javascript:void(0)" class="list-group-item">
        	 								<div class="media">
        	 									<div class="media-left pr-1"><span class="avatar avatar-sm avatar-busy rounded-circle"><img src="app-assets/images/portrait/small/avatar-s-2.png" alt="avatar"><i></i></span></div>
        	 									<div class="media-body">
        	 										<h6 class="media-heading mb-0">Bret Lezama</h6>
        	 										<p class="font-small-2 mb-0">QA Person</p>
        	 									</div>
        	 								</div>
        	 							</a>
        	 							<a href="javascript:void(0)" class="list-group-item">
        	 								<div class="media">
        	 									<div class="media-left pr-1"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-3.png" alt="avatar"><i></i></span></div>
        	 									<div class="media-body">
        	 										<h6 class="media-heading mb-0">Carie Berra</h6>
        	 										<p class="font-small-2 mb-0">QA Manager</p>
        	 									</div>
        	 								</div>
        	 							</a>
        	 							<a href="javascript:void(0)" class="list-group-item">
        	 								<div class="media">
        	 									<div class="media-left pr-1"><span class="avatar avatar-sm avatar-away rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-6.png" alt="avatar"><i></i></span></div>
        	 									<div class="media-body">
        	 										<h6 class="media-heading mb-0">Eric Alsobrook</h6>
        	 										<p class="font-small-2 mb-0">QA Lead</p>
        	 									</div>
        	 								</div>
        	 							</a>
        	 							<a href="javascript:void(0)" class="list-group-item">
        	 								<div class="media">
        	 									<div class="media-left pr-1"><span class="avatar avatar-sm avatar-away rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-8.png" alt="avatar"><i></i></span></div>
        	 									<div class="media-body">
        	 										<h6 class="media-heading mb-0">John Alsobrook</h6>
        	 										<p class="font-small-2 mb-0">QA Person</p>
        	 									</div>
        	 								</div>
        	 							</a>
        	 						</div>
        	 					</div>
        	 				</div>
        	 			</div>
        	 			<!-- /Fim Card: Lista de contactos -->


        	 			
        	 			<!-- Card example - Specialy -->
        	 			<div class="card">
        	 				<div class="card-header">
        	 					<h4 class="card-title">Specialy</h4>
        	 					<div class="heading-elements">
        	 						<ul class="list-inline mb-0">                             
        	 							<li><a data-action="close"><i class="ft-x"></i></a></li>
        	 						</ul>
        	 					</div>
        	 				</div>
        	 				<div class="card-content" aria-expanded="true">
        	 					<div class="card-body">
        	 						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        	 						<a href="#" class="btn btn-primary">Go somewhere</a>
        	 					</div>
        	 				</div>
        	 				<div class="card-footer">
        	 					<span class="text-muted">ABCD</span>
        	 				</div>
        	 			</div>
        	 			<!-- /Fim Card example - Specialy -->


                        <!-- Card Tabela -->
        	 			<div class="card">
        	 				<div class="card-header">
        	 					<h4 class="card-title">Striped rows</h4>
        	 					<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        	 					<div class="heading-elements">
        	 						<ul class="list-inline mb-0">
        	 							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
        	 							<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
        	 							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
        	 							<li><a data-action="close"><i class="ft-x"></i></a></li>
        	 						</ul>
        	 					</div>
        	 				</div>
        	 				<div class="card-content collapse show">
        	 					<div class="card-body">
        	 						<p class="card-text">Use <code class="highlighter-rouge">.table-striped</code> to add zebra-striping to any table row within the <code class="highlighter-rouge">&lt;tbody&gt;</code>. This styling doesn't work in IE8 and below as <code>:nth-child</code> CSS selector isn't supported.</p>
        	 					</div>
        	 					<div class="table-responsive">
        	 						<table class="table table-striped">
        	 							<thead>
        	 								<tr>
        	 									<th scope="col">#</th>
        	 									<th scope="col">First Name</th>
        	 									<th scope="col">Last Name</th>
        	 									<th scope="col">Username</th>
        	 								</tr>
        	 							</thead>
        	 							<tbody>
        	 								<tr>
        	 									<th scope="row">1</th>
        	 									<td>Mark</td>
        	 									<td>Otto</td>
        	 									<td>@mdo</td>
        	 								</tr>
        	 								<tr>
        	 									<th scope="row">2</th>
        	 									<td>Jacob</td>
        	 									<td>Thornton</td>
        	 									<td>@fat</td>
        	 								</tr>
        	 								<tr>
        	 									<th scope="row">3</th>
        	 									<td>Larry</td>
        	 									<td>the Bird</td>
        	 									<td>@twitter</td>
        	 								</tr>
        	 							</tbody>
        	 						</table>
        	 					</div>
        	 				</div>
        	 			</div>
                         <!-- //Fim Card Tabela -->




                        <!-- -->



                        <!-- //  -->



					<!-- fim col cyan-->
        	 		</div>



                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Ongoing Projects</h4>
                                    <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <p class="m-0">Total ongoing projects 6<span class="float-right"><a href="project-summary.html" target="_blank">Project Summary <i class="ft-arrow-right"></i></a></span></p>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Project</th>
                                                    <th>Owner</th>
                                                    <th>Priority</th>
                                                    <th>Progress</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-truncate">ReactJS App</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-4.png" alt="avatar"></span> <span>Sarah W.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-success">Low</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 88%" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-truncate">Fitness App</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-5.png" alt="avatar"></span> <span>Edward C.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-warning">Medium</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-truncate">SOU plugin</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-6.png" alt="avatar"></span> <span>Carol E.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-danger">Critical</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-truncate">Android App</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-7.png" alt="avatar"></span> <span>Gregory L.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-success">Low</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-truncate">ABC Inc. UI/UX</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-8.png" alt="avatar"></span> <span>Susan S.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-warning">Medium</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-truncate">Product UI</td>
                                                    <td class="text-truncate">
                                                        <span class="avatar avatar-xs"><img src="../../../app-assets/images/portrait/small/avatar-s-9.png" alt="avatar"></span> <span>Walter K.</span>
                                                    </td>
                                                    <td class="text-truncate"><span class="tag tag-danger">Critical</span></td>
                                                    <td class="valign-middle">
                                                        <div class="progress m-0" style="height: 7px;">
                                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <div class="card">
                                <div class="card-content bg-success">
                                    <div class="card-body sales-growth-chart">
                                        <div id="completed-project" class="height-250" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="250" version="1.1" width="317.125" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.0625px; top: -0.515625px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="42.84375" y="183.11439601237498" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#ffffff" d="M55.34375,183.11439601237498H292.125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="42.84375" y="130.40959734158332" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.003347341583321" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">1,000</tspan></text><path fill="none" stroke="#ffffff" d="M55.34375,130.40959734158332H292.125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="42.84375" y="77.70479867079166" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.001673670791661" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2,000</tspan></text><path fill="none" stroke="#ffffff" d="M55.34375,77.70479867079166H292.125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="42.84375" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">3,000</tspan></text><path fill="none" stroke="#ffffff" d="M55.34375,25H292.125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="268.446875" y="195.61439601237498" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-74.2402,202.7237)"><tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">SEO</tspan></text><text x="221.090625" y="195.61439601237498" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-79.3566,173.2652)"><tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">UX</tspan></text><text x="173.734375" y="195.61439601237498" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-91.1101,147.6335)"><tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">APP</tspan></text><text x="126.378125" y="195.61439601237498" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-99.9638,120.7919)"><tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Web</tspan></text><text x="79.021875" y="195.61439601237498" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-102.822,89.8726)"><tspan dy="4.005021012374982" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">UI</tspan></text><rect x="71.91843750000001" y="86.40109045147229" width="14.206875" height="96.7133055609027" rx="0" ry="0" fill="#ffffff" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="119.2746875" y="58.941890343989826" width="14.206875" height="124.17250566838516" rx="0" ry="0" fill="#ffffff" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="166.63093750000002" y="106.21809475168995" width="14.206875" height="76.89630126068504" rx="0" ry="0" fill="#ffffff" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="213.98718750000003" y="115.17791052572453" width="14.206875" height="67.93648548665045" rx="0" ry="0" fill="#ffffff" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="261.3434375" y="96.30959260158112" width="14.206875" height="86.80480341079387" rx="0" ry="0" fill="#ffffff" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect></svg><div class="morris-hover morris-default-style" style="left: 32.6625px; top: 93px; display: none;"><div class="morris-hover-row-label">UI</div><div class="morris-hover-point" style="color: #FFF">
                                          Sales:
                                          1,835
                                      </div></div></div>
                                  </div>
                              </div>
                              <div class="card-footer">
                                <div class="chart-title">
                                    <span class="text-muted">Total completed project and earning.</span>
                                </div>
                                <ul class="list-inline text-center clearfix mt-2 mb-0">
                                    <li class="border-right-grey border-right-lighten-2 pr-1"><span class="text-muted">Completed Projects</span>
                                        <h3 class="block">250</h3>
                                    </li>
                                    <li class="pl-2"><span class="text-muted">Total Earnings</span>
                                        <h3 class="block">64.54 M</h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    
                </div>






        	 	</div>


                <!-- // fim cenas -->





        	
             <!-- // fim row bg-success -->
            </div>






        </div>
        <br />
        <br />


        <div class="content-body">
            <div class="row bg-success">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Actions
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="#">Action</a>
                                            </li>
                                            <li><a href="#">Another action</a>
                                            </li>
                                            <li><a href="#">Something else here</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="morris-area-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="347" version="1.1" width="650" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="49.515625" y="313" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#aaaaaa" d="M62.015625,313H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.515625" y="241" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M62.015625,241H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.515625" y="169" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M62.015625,169H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.515625" y="97.00000000000003" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">22,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M62.015625,97.00000000000003H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.515625" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M62.015625,25H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="521.0455665219483" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text><text x="271.34969669257254" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan></text><path fill="#7cb57c" stroke="none" d="M62.015625,261.9952C77.74275926693585,256.7152,109.19702780080756,245.75689404303512,124.92416206774341,240.8752C140.6584223583616,235.9912940430351,172.126942939598,229.61560628272252,187.8612032302162,222.93280000000001C203.43156497614046,216.31960628272253,234.57228846798898,189.66448883774456,250.14265021391324,187.6912C265.5348613677789,185.74048883774455,296.3192836755101,205.80161428898558,311.71149482937574,207.23680000000002C327.4386290963116,208.70321428898558,358.89289763018326,198.32102124575314,374.62003189711913,199.29760000000002C390.3542921877373,200.27462124575314,421.8228127689738,232.3866890052356,437.55707305959197,215.0512C453.12743480551626,197.8962890052356,484.2681582973647,69.70431494621195,499.838520043289,61.33600000000001C515.4017557655309,52.971514946211954,546.5282272100148,135.84980951947162,562.0914629322567,148.12C577.8185971991925,160.51940951947162,609.2728657330642,157.04080000000002,625,160.01440000000002L625,313L62.015625,313Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#4da74d" d="M62.015625,261.9952C77.74275926693585,256.7152,109.19702780080756,245.75689404303512,124.92416206774341,240.8752C140.6584223583616,235.9912940430351,172.126942939598,229.61560628272252,187.8612032302162,222.93280000000001C203.43156497614046,216.31960628272253,234.57228846798898,189.66448883774456,250.14265021391324,187.6912C265.5348613677789,185.74048883774455,296.3192836755101,205.80161428898558,311.71149482937574,207.23680000000002C327.4386290963116,208.70321428898558,358.89289763018326,198.32102124575314,374.62003189711913,199.29760000000002C390.3542921877373,200.27462124575314,421.8228127689738,232.3866890052356,437.55707305959197,215.0512C453.12743480551626,197.8962890052356,484.2681582973647,69.70431494621195,499.838520043289,61.33600000000001C515.4017557655309,52.971514946211954,546.5282272100148,135.84980951947162,562.0914629322567,148.12C577.8185971991925,160.51940951947162,609.2728657330642,157.04080000000002,625,160.01440000000002" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="62.015625" cy="261.9952" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="124.92416206774341" cy="240.8752" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="187.8612032302162" cy="222.93280000000001" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="250.14265021391324" cy="187.6912" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="311.71149482937574" cy="207.23680000000002" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="374.62003189711913" cy="199.29760000000002" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="437.55707305959197" cy="215.0512" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="499.838520043289" cy="61.33600000000001" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="562.0914629322567" cy="148.12" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="625" cy="160.01440000000002" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#a8b4bd" stroke="none" d="M62.015625,287.4064C77.74275926693585,281.632,109.19702780080756,269.3656543601359,124.92416206774341,264.3088C140.6584223583616,259.24965436013593,172.126942939598,249.70720000000003,187.8612032302162,246.94240000000002C203.43156497614046,244.20640000000003,234.57228846798898,244.52992497123134,250.14265021391324,242.30560000000003C265.5348613677789,240.10672497123133,296.3192836755101,232.33483379894662,311.71149482937574,229.2496C327.4386290963116,226.09723379894663,358.89289763018326,217.2244296262741,374.62003189711913,217.35520000000002C390.3542921877373,217.4860296262741,421.8228127689738,243.6579937172775,437.55707305959197,230.296C453.12743480551626,217.0731937172775,484.2681582973647,118.85619409475854,499.838520043289,111.01600000000002C515.4017557655309,103.17939409475855,546.5282272100148,159.3581391027101,562.0914629322567,167.58880000000002C577.8185971991925,175.90613910271009,609.2728657330642,174.8032,625,177.208L625,313L62.015625,313Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#7a92a3" d="M62.015625,287.4064C77.74275926693585,281.632,109.19702780080756,269.3656543601359,124.92416206774341,264.3088C140.6584223583616,259.24965436013593,172.126942939598,249.70720000000003,187.8612032302162,246.94240000000002C203.43156497614046,244.20640000000003,234.57228846798898,244.52992497123134,250.14265021391324,242.30560000000003C265.5348613677789,240.10672497123133,296.3192836755101,232.33483379894662,311.71149482937574,229.2496C327.4386290963116,226.09723379894663,358.89289763018326,217.2244296262741,374.62003189711913,217.35520000000002C390.3542921877373,217.4860296262741,421.8228127689738,243.6579937172775,437.55707305959197,230.296C453.12743480551626,217.0731937172775,484.2681582973647,118.85619409475854,499.838520043289,111.01600000000002C515.4017557655309,103.17939409475855,546.5282272100148,159.3581391027101,562.0914629322567,167.58880000000002C577.8185971991925,175.90613910271009,609.2728657330642,174.8032,625,177.208" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="62.015625" cy="287.4064" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="124.92416206774341" cy="264.3088" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="187.8612032302162" cy="246.94240000000002" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="250.14265021391324" cy="242.30560000000003" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="311.71149482937574" cy="229.2496" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="374.62003189711913" cy="217.35520000000002" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="437.55707305959197" cy="230.296" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="499.838520043289" cy="111.01600000000002" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="562.0914629322567" cy="167.58880000000002" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="625" cy="177.208" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#2677b5" stroke="none" d="M62.015625,287.4064C77.74275926693585,287.1376,109.19702780080756,289.0257895356739,124.92416206774341,286.3312C140.6584223583616,283.6353895356739,172.126942939598,267.03781361256546,187.8612032302162,265.8448C203.43156497614046,264.66421361256545,234.57228846798898,279.12750471806675,250.14265021391324,276.8368C265.5348613677789,274.57230471806673,296.3192836755101,249.8830226700252,311.71149482937574,247.62400000000002C327.4386290963116,245.31582267002523,358.89289763018326,256.1805408833522,374.62003189711913,258.568C390.3542921877373,260.9565408833522,421.8228127689738,278.0706764397906,437.55707305959197,266.728C453.12743480551626,255.5034764397906,484.2681582973647,175.34121144426643,499.838520043289,168.2992C515.4017557655309,161.26041144426642,546.5282272100148,202.47734256433614,562.0914629322567,210.40480000000002C577.8185971991925,218.41574256433614,609.2728657330642,226.6408,625,232.0528L625,313L62.015625,313Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#0b62a4" d="M62.015625,287.4064C77.74275926693585,287.1376,109.19702780080756,289.0257895356739,124.92416206774341,286.3312C140.6584223583616,283.6353895356739,172.126942939598,267.03781361256546,187.8612032302162,265.8448C203.43156497614046,264.66421361256545,234.57228846798898,279.12750471806675,250.14265021391324,276.8368C265.5348613677789,274.57230471806673,296.3192836755101,249.8830226700252,311.71149482937574,247.62400000000002C327.4386290963116,245.31582267002523,358.89289763018326,256.1805408833522,374.62003189711913,258.568C390.3542921877373,260.9565408833522,421.8228127689738,278.0706764397906,437.55707305959197,266.728C453.12743480551626,255.5034764397906,484.2681582973647,175.34121144426643,499.838520043289,168.2992C515.4017557655309,161.26041144426642,546.5282272100148,202.47734256433614,562.0914629322567,210.40480000000002C577.8185971991925,218.41574256433614,609.2728657330642,226.6408,625,232.0528" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="62.015625" cy="287.4064" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="124.92416206774341" cy="286.3312" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="187.8612032302162" cy="265.8448" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="250.14265021391324" cy="276.8368" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="311.71149482937574" cy="247.62400000000002" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="374.62003189711913" cy="258.568" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="437.55707305959197" cy="266.728" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="499.838520043289" cy="168.2992" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="562.0914629322567" cy="210.40480000000002" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="625" cy="232.0528" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="left: 194.111px; top: 173px; display: none;"><div class="morris-hover-row-label">2010 Q4</div><div class="morris-hover-point" style="color: #0b62a4">
                                  iPhone:
                                  3,767
                              </div><div class="morris-hover-point" style="color: #7A92A3">
                                  iPad:
                                  3,597
                              </div><div class="morris-hover-point" style="color: #4da74d">
                                  iPod Touch:
                                  5,689
                              </div></div></div>
                          </div>
                          <!-- /.panel-body -->
                      </div>
                      <!-- /.panel -->
                      <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>3326</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:29 PM</td>
                                                    <td>$321.33</td>
                                                </tr>
                                                <tr>
                                                    <td>3325</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:20 PM</td>
                                                    <td>$234.34</td>
                                                </tr>
                                                <tr>
                                                    <td>3324</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:03 PM</td>
                                                    <td>$724.17</td>
                                                </tr>
                                                <tr>
                                                    <td>3323</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:00 PM</td>
                                                    <td>$23.71</td>
                                                </tr>
                                                <tr>
                                                    <td>3322</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:49 PM</td>
                                                    <td>$8345.23</td>
                                                </tr>
                                                <tr>
                                                    <td>3321</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:23 PM</td>
                                                    <td>$245.12</td>
                                                </tr>
                                                <tr>
                                                    <td>3320</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:15 PM</td>
                                                    <td>$5663.54</td>
                                                </tr>
                                                <tr>
                                                    <td>3319</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:13 PM</td>
                                                    <td>$943.45</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="347" version="1.1" width="423.328125" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.65625px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="32.84375" y="313" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#aaaaaa" d="M45.34375,313H398.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.84375" y="241" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">25</tspan></text><path fill="none" stroke="#aaaaaa" d="M45.34375,241H398.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.84375" y="169" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">50</tspan></text><path fill="none" stroke="#aaaaaa" d="M45.34375,169H398.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.84375" y="97" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">75</tspan></text><path fill="none" stroke="#aaaaaa" d="M45.34375,97H398.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.84375" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">100</tspan></text><path fill="none" stroke="#aaaaaa" d="M45.34375,25H398.328125" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="373.11495535714283" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text><text x="272.2622767857143" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010</tspan></text><text x="171.40959821428572" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2008</tspan></text><text x="70.55691964285714" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2006</tspan></text><rect x="51.647042410714285" y="25" width="17.409877232142858" height="288" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="72.05691964285714" y="53.80000000000001" width="17.409877232142858" height="259.2" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="102.07338169642856" y="97" width="17.409877232142858" height="216" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="122.48325892857142" y="125.80000000000001" width="17.409877232142858" height="187.2" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="152.49972098214283" y="169" width="17.409877232142858" height="144" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="172.9095982142857" y="197.8" width="17.409877232142858" height="115.19999999999999" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="202.92606026785714" y="97" width="17.409877232142858" height="216" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="223.3359375" y="125.80000000000001" width="17.409877232142858" height="187.2" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="253.35239955357142" y="169" width="17.409877232142858" height="144" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="273.7622767857143" y="197.8" width="17.409877232142858" height="115.19999999999999" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="303.7787388392857" y="97" width="17.409877232142858" height="216" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="324.18861607142856" y="125.80000000000001" width="17.409877232142858" height="187.2" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="354.205078125" y="25" width="17.409877232142858" height="288" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="374.61495535714283" y="53.80000000000001" width="17.409877232142858" height="259.2" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect></svg><div class="morris-hover morris-default-style" style="left: 329.099px; top: 138px; display: none;"><div class="morris-hover-row-label">2012</div><div class="morris-hover-point" style="color: #0b62a4">
                                      Series A:
                                      100
                                  </div><div class="morris-hover-point" style="color: #7a92a3">
                                      Series B:
                                      90
                                  </div></div></div>
                              </div>
                              <!-- /.col-lg-8 (nested) -->
                          </div>
                          <!-- /.row -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge"><i class="fa fa-check"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge info"><i class="fa fa-save"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                                        <hr>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-gear"></i> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Action</a>
                                                </li>
                                                <li><a href="#">Another action</a>
                                                </li>
                                                <li><a href="#">Something else here</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Notifications Panel
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small"><em>11:32 AM</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                <span class="pull-right text-muted small"><em>11:13 AM</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                <span class="pull-right text-muted small"><em>10:57 AM</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                <span class="pull-right text-muted small"><em>9:49 AM</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-money fa-fw"></i> Payment Received
                                <span class="pull-right text-muted small"><em>Yesterday</em>
                                </span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                        <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                    </div>
                    <div class="panel-body">
                        <div id="morris-donut-chart"><svg height="347" version="1.1" width="294" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#0b62a4" d="M147,267.3333333333333A91.33333333333333,91.33333333333333,0,0,0,233.35180688739524,205.75135669275903" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#0b62a4" stroke="#ffffff" d="M147,270.3333333333333A94.33333333333333,94.33333333333333,0,0,0,236.1881801063243,206.72859103668176L271.8004216328778,218.99831113260063A132,132,0,0,1,147,308Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#3980b5" d="M233.35180688739524,205.75135669275903A91.33333333333333,91.33333333333333,0,0,0,65.0802706076015,135.61515489624878" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#3980b5" stroke="#ffffff" d="M236.1881801063243,206.72859103668176A94.33333333333333,94.33333333333333,0,0,0,62.38947657646432,134.28864538554163L24.120405911402244,115.42273234437317A137,137,0,0,1,276.52771033109286,220.62703503913855Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#679dc6" d="M65.0802706076015,135.61515489624878A91.33333333333333,91.33333333333333,0,0,0,146.97130678756912,267.33332882621403" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#679dc6" stroke="#ffffff" d="M62.38947657646432,134.28864538554163A94.33333333333333,94.33333333333333,0,0,0,146.97036430978855,270.33332867816995L146.95853097765465,307.99999348606116A132,132,0,0,1,28.60506262996421,117.63358152888509Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="147" y="166" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;" font-weight="800" transform="matrix(1.4267,0,0,1.4267,-62.7153,-75.5184)" stroke-width="0.7009390206812651"><tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store Sales</tspan></text><text x="147" y="186" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="14px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;" transform="matrix(1.9028,0,0,1.9028,-132.793,-160.6944)" stroke-width="0.5255474452554745"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan></text></svg></div>
                        <a href="#" class="btn btn-default btn-block">View Details</a>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="chat-panel panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i> Chat
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-refresh fa-fw"></i> Refresh
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-check-circle fa-fw"></i> Available
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-times fa-fw"></i> Busy
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-clock-o fa-fw"></i> Away
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="chat">
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                        </small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.panel-body -->
                                <div class="panel-footer">
                                    <div class="input-group">
                                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                                Send
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <!-- /.panel-footer -->
                            </div>
                            <!-- /.panel .chat-panel -->
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>



        </div>
    </div>
</div>