<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="container">
            	<div class="row bg-blue p-1">
            		<div class="col-xl-6 col-lg-6 col-md-12">
            			<div class="row match-height">
            				<div class="col-xl-6 col-lg-6 col-12">
            					<div class="card">
            						<div class="card-content">
            							<div class="card-body">
            								<div class="media d-flex">
            									<div class="align-self-center">
            										<i class="icon-pencil info font-large-1 float-left"></i>
            									</div>
            									<div class="media-body text-right">
            										<h3>278</h3>
            										<span>New Posts</span>
            									</div>
            								</div>
            							</div>
            						</div>
            					</div>
            				</div>
            				<div class="col-xl-6 col-lg-6 col-12">
            					<div class="card">
            						<div class="card-content">
            							<div class="card-body">
            								<div class="media d-flex">
            									<div class="align-self-center">
            										<i class="icon-speech warning font-large-1 float-left"></i>
            									</div>
            									<div class="media-body text-right">
            										<h3>156</h3>
            										<span>New Comments</span>
            									</div>
            								</div>
            							</div>
            						</div>
            					</div>
            				</div>
            				<div class="col-xl-6 col-lg-6 col-12">
            					<div class="card">
            						<div class="card-content">
            							<div class="card-body">
            								<div class="media d-flex">
            									<div class="align-self-center">
            										<i class="icon-pencil info font-large-1 float-left"></i>
            									</div>
            									<div class="media-body text-right">
            										<h3>278</h3>
            										<span>New Posts</span>
            									</div>
            								</div>
            							</div>
            						</div>
            					</div>
            				</div>
            				<div class="col-xl-6 col-lg-6 col-12">
            					<div class="card">
            						<div class="card-content">
            							<div class="card-body">
            								<div class="media d-flex">
            									<div class="align-self-center">
            										<i class="icon-speech warning font-large-1 float-left"></i>
            									</div>
            									<div class="media-body text-right">
            										<h5>156</h5>
            										<span>New Comments</span>
            									</div>
            								</div>
            							</div>
            						</div>
            					</div>
            				</div>
            			</div>
            		</div>
            		<div class="col-xl-6 col-lg-6 col-md-12">
            			<div class="row match-height">
            				<div class="col-xl-6 col-lg-6 col-12">
            					<div class="card">
            						<div class="card-content">
            							<div class="card-body">
            								<div class="media d-flex">
            									<div class="align-self-center">
            										<i class="icon-graph success font-large-1 float-left"></i>
            									</div>
            									<div class="media-body text-right">
            										<h3>64.89 %</h3>
            										<span>Bounce Rate</span>
            									</div>
            								</div>
            							</div>
            						</div>
            					</div>
            				</div>
            				
            				<div class="col-xl-6 col-lg-6 col-12">
            					<div class="card">
            						<div class="card-content">
            							<div class="card-body">
            								<div class="media d-flex">
            									<div class="align-self-center">
            										<i class="icon-cup danger font-large-1 float-left"></i>
            									</div>
            									<div class="media-body text-right">
            										<h3>423</h3>
            										<span>Total Visits</span>
            									</div>
            								</div>
            							</div>
            						</div>
            					</div>
            				</div>
            				<div class="col-xl-6 col-lg-6 col-12">
            					<div class="card">
            						<div class="card-content">
            							<div class="card-body">
            								<div class="media d-flex">
            									<div class="align-self-center">
            										<i class="icon-cup danger font-large-1 float-left"></i>
            									</div>
            									<div class="media-body text-right">
            										<h3>423</h3>
            										<span>Total Visits</span>
            									</div>
            								</div>
            							</div>
            						</div>
            					</div>
            				</div>
            				<div class="col-xl-4 offset-xl-1 col-lg-6 col-12 my-auto">
            					<div class="text-center">
            						<div class="media align-items-stretch">
            							<h5 class="text-white"><a href="/cena" class="btn btn-danger btn-lg">Ver Estatisticas</a></h5>
            						</div>
            					</div>            					
            				</div>
            			</div>
            		</div>            		
            	</div>
            	<div class="row bg-cyan p-1">
            		<div class="col-xl-6 col-lg-6 col-md-12">
            			<div class="card-content">
        	 				<div class="card-deck-wrapper">
        	 					<div class="card-deck">
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-rocket font-large-2"></i>
        	 									</h1>
        	 									<span class="text-red">Mudar para Premium</span>
        	 								</div>
        	 							</div>
        	 						</div>
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-bulb font-large-2"></i>
        	 									</h1>
        	 									<span class="text-red">Pedir Consultoria</span>
        	 								</div>
        	 							</div>
        	 						</div> 
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-bubbles font-large-2"></i>
        	 									</h1>
        	 									<span class="text-red">Ver Negócios Disponíveis</span>
        	 								</div>
        	 							</div>
        	 						</div>
        	 					</div> <!-- close card-deck -->	
        	 				</div>  <!-- close deck.wrapper -->
        	 			</div>
        	 			<div class="card-content">
        	 				<div class="card-deck-wrapper">
        	 					<div class="card-deck">
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-rocket font-large-2"></i>
        	 									</h1>
        	 									<span class="text-red">Lista de Contactos</span>
        	 								</div>
        	 							</div>
        	 						</div>
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-bulb font-large-2"></i>
        	 									</h1>
        	 									<span class="text-red">Propor um Negócio</span>
        	 								</div>
        	 							</div>
        	 						</div> 
        	 						<div class="card">
        	 							<div class="card-content">
        	 								<div class="card-body text-center">
        	 									<h1 class="display-4">
        	 										<i class="icon-credit-card font-large-2"></i>
        	 									</h1>
        	 									<span class="text-red">As Minhas Negociações</span>
        	 								</div>
        	 							</div>
        	 						</div>
        	 					</div> <!-- close card-deck -->	
        	 				</div>  <!-- close deck.wrapper -->
        	 			</div>
            		</div>
            		<div class="col-xl-6 col-lg-6 col-md-12">
            			<!-- Card Tabela -->
        	 			<div class="card">
        	 				<div class="card-header">
        	 					<h4 class="card-title">Striped rows</h4>
        	 					<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        	 					<div class="heading-elements">
        	 						<ul class="list-inline mb-0">
        	 							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
        	 							<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
        	 							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
        	 							<li><a data-action="close"><i class="ft-x"></i></a></li>
        	 						</ul>
        	 					</div>
        	 				</div>
        	 				<div class="card-content collapse show">
        	 					<div class="card-body">
        	 						<p class="card-text">Use <code class="highlighter-rouge">.table-striped</code> to add zebra-striping to any table row within the <code class="highlighter-rouge">&lt;tbody&gt;</code>. This styling doesn't work in IE8 and below as <code>:nth-child</code> CSS selector isn't supported.</p>
        	 					</div>
        	 					<div class="table-responsive">
        	 						<table class="table table-striped">
        	 							<thead>
        	 								<tr>
        	 									<th scope="col">#</th>
        	 									<th scope="col">First Name</th>
        	 									<th scope="col">Last Name</th>
        	 									<th scope="col">Username</th>
        	 								</tr>
        	 							</thead>
        	 							<tbody>
        	 								<tr>
        	 									<th scope="row">1</th>
        	 									<td>Mark</td>
        	 									<td>Otto</td>
        	 									<td>@mdo</td>
        	 								</tr>
        	 								<tr>
        	 									<th scope="row">2</th>
        	 									<td>Jacob</td>
        	 									<td>Thornton</td>
        	 									<td>@fat</td>
        	 								</tr>
        	 								<tr>
        	 									<th scope="row">3</th>
        	 									<td>Larry</td>
        	 									<td>the Bird</td>
        	 									<td>@twitter</td>
        	 								</tr>
        	 							</tbody>
        	 						</table>
        	 					</div>
        	 				</div>
        	 			</div>
                         <!-- //Fim Card Tabela -->
            		</div>
            	</div>

            </div>
        </div>
    </div>
</div>